@charset "UTF-8";
header { /*navbar*/ /*search-wrap*/ }
header .navbar .container-fluid { padding: 0 5px; /*navbar-header*/ }
header .navbar .container-fluid .navbar-header { margin: 0 !important; /*navbar-toogle*/ /*navbar-brand*/ }
@media only screen and (min-width: 751px) and (max-width: 991px) { header .navbar .container-fluid .navbar-header { float: none; } }
header .navbar .container-fluid .navbar-header .navbar-toggle { float: left; }
@media only screen and (max-width: 751px) { header .navbar .container-fluid .navbar-header .navbar-toggle { display: block; margin-right: 0; } }
@media only screen and (min-width: 751px) and (max-width: 991px) { header .navbar .container-fluid .navbar-header .navbar-toggle { display: block; margin-right: 0; } }
@media only screen and (min-width: 992px) and (max-width: 1200px) { header .navbar .container-fluid .navbar-header .navbar-toggle { display: block; margin-right: 0; display: none; } }
@media only screen and (min-width: 1201px) { header .navbar .container-fluid .navbar-header .navbar-toggle { display: block; margin-right: 0; display: none; } }
@media only screen and (min-width: 751px) and (max-width: 991px) { header .navbar .container-fluid .navbar-header .navbar-brand { margin-left: 0; } }
@media only screen and (min-width: 992px) and (max-width: 1200px) { header .navbar .container-fluid .navbar-header .navbar-brand { margin-left: 0; } }
@media only screen and (min-width: 1201px) { header .navbar .container-fluid .navbar-header .navbar-brand { margin-left: 0; } }
header .navbar .container-fluid .navbar-header .btn-login, header .navbar .container-fluid .navbar-header .btn-logout, header .navbar .container-fluid .navbar-header .btn-personal, header .navbar .container-fluid .navbar-header .btn-registr { background-color: #E19E20; border-radius: 4px; color: #ffffff; float: right; font-size: 19px; height: 40px; margin-left: 1px; margin-top: 0; min-height: 40px; min-width: 40px; padding: 3px 0; position: relative; top: 5px; text-align: center; }
header .navbar .container-fluid .navbar-header .btn-login span, header .navbar .container-fluid .navbar-header .btn-logout span, header .navbar .container-fluid .navbar-header .btn-personal span, header .navbar .container-fluid .navbar-header .btn-registr span { top: 7px; }
header .navbar .container-fluid .navbar-header .btn-login, header .navbar .container-fluid .navbar-header .btn-login:active, header .navbar .container-fluid .navbar-header .btn-login:focus, header .navbar .container-fluid .navbar-header .btn-logout, header .navbar .container-fluid .navbar-header .btn-logout:active, header .navbar .container-fluid .navbar-header .btn-logout:focus, header .navbar .container-fluid .navbar-header .btn-personal, header .navbar .container-fluid .navbar-header .btn-personal:active, header .navbar .container-fluid .navbar-header .btn-personal:focus, header .navbar .container-fluid .navbar-header .btn-registr, header .navbar .container-fluid .navbar-header .btn-registr:active, header .navbar .container-fluid .navbar-header .btn-registr:focus { text-decoration: none; }
header .navbar .container-fluid .navbar-header .btn-login span:last-child, header .navbar .container-fluid .navbar-header .btn-login:active span:last-child, header .navbar .container-fluid .navbar-header .btn-login:focus span:last-child, header .navbar .container-fluid .navbar-header .btn-logout span:last-child, header .navbar .container-fluid .navbar-header .btn-logout:active span:last-child, header .navbar .container-fluid .navbar-header .btn-logout:focus span:last-child, header .navbar .container-fluid .navbar-header .btn-personal span:last-child, header .navbar .container-fluid .navbar-header .btn-personal:active span:last-child, header .navbar .container-fluid .navbar-header .btn-personal:focus span:last-child, header .navbar .container-fluid .navbar-header .btn-registr span:last-child, header .navbar .container-fluid .navbar-header .btn-registr:active span:last-child, header .navbar .container-fluid .navbar-header .btn-registr:focus span:last-child { text-decoration: underline; }
header .navbar .container-fluid .navbar-header .btn-login:hover, header .navbar .container-fluid .navbar-header .btn-logout:hover, header .navbar .container-fluid .navbar-header .btn-personal:hover, header .navbar .container-fluid .navbar-header .btn-registr:hover { text-decoration: none; }
header .navbar .container-fluid .navbar-header .btn-login:hover span:last-child, header .navbar .container-fluid .navbar-header .btn-logout:hover span:last-child, header .navbar .container-fluid .navbar-header .btn-personal:hover span:last-child, header .navbar .container-fluid .navbar-header .btn-registr:hover span:last-child { text-decoration: none; }
header .search-wrap { position: fixed; padding: 5px; z-index: 1; }
@media only screen and (max-width: 751px) { header .search-wrap { background: #f9f9f9; position: fixed; top: 50px; padding: 5px; z-index: 1; } }
@media only screen and (min-width: 751px) and (max-width: 991px) { header .search-wrap { position: fixed; top: 5px; margin-right: 87px; margin-left: 270px; z-index: 1030; } }
header .search-wrap .input-group-btn .btn-group { display: flex !important; }
header .search-wrap .input-group-btn .section-select-mobile select { padding: 6px; }
header .search-wrap .btn { border: 1px solid #ccc; }
header .search-wrap .btn:hover { transition: all, .5s; }
header .search-wrap .form-group { margin: 10px; }
header .search-wrap .dropdown-toggle { border-radius: 0; height: 34px; }
header .search-wrap .btn-search, header .search-wrap .btn-plus { border-radius: 4px; margin-left: -1px; }
header .search-wrap .btn-add-ad { border-radius: 4px; display: block; margin: 0 10px; width: calc(100% - 20px); }
header .search-wrap .btn-add-ad .glyphicon { margin-right: 5px; }
header .search-wrap .section-ad-wrap { display: inline; position: relative; }
header .search-wrap .section-ad-wrap select { appearance: none; border-color: #2288cc !important; }
header .search-wrap .section-ad-wrap select:hover { background-color: #f9f9f9; }

/*header*/
/*header large*/
@media only screen and (min-width: 992px) and (max-width: 1200px) { header { background: url(../img/panoram.jpg) no-repeat center/cover; width: 100%; }
  header .navbar-fixed-top { position: inherit; }
  header .navbar { max-width: 1140px; margin: auto; border: none; background: none; }
  header .navbar .container-fluid span.search-container-header { font-size: 28px; color: #f9f9f9; }
  header .navbar .container-fluid .navbar-header { width: 100%; padding-bottom: 30px; }
  header .navbar .container-fluid .navbar-header .new-message-quantity { min-width: 25px; height: 25px; border-radius: 50%; background-color: #46acf0; right: 0px; text-align: center; border: 1px solid #666; box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3); margin-top: -10px; padding-left: 5px; padding-right: 7px; margin-right: 3px; color: #f9f9f9; position: relative; font-size: 18px; top: -10px; }
  header .navbar .container-fluid .navbar-header .new-message-quantity span { vertical-align: middle; line-height: 1.7; }
  header .navbar .container-fluid .navbar-header .navbar-brand { margin-top: 7px; padding: 0; }
  header .navbar .container-fluid .navbar-header .navbar-brand img.logo-large { height: 58px; }
  header .navbar .container-fluid .navbar-header .btn-login, header .navbar .container-fluid .navbar-header .btn-logout, header .navbar .container-fluid .navbar-header .btn-personal, header .navbar .container-fluid .navbar-header .btn-registr { display: inline-block; border: none; padding: 0 15px; margin-right: 15px; float: right; margin-top: 34px; font-size: 19px; color: #ffffff; background-color: transparent; }
  header .navbar .container-fluid .navbar-header .btn-login span, header .navbar .container-fluid .navbar-header .btn-logout span, header .navbar .container-fluid .navbar-header .btn-personal span, header .navbar .container-fluid .navbar-header .btn-registr span { top: 2px; right: 2px; }
  header .navbar .container-fluid .navbar-header .btn-login span:last-child[class*='visible-'], header .navbar .container-fluid .navbar-header .btn-logout span:last-child[class*='visible-'], header .navbar .container-fluid .navbar-header .btn-personal span:last-child[class*='visible-'], header .navbar .container-fluid .navbar-header .btn-registr span:last-child[class*='visible-'] { display: inline-block !important; }
  header .navbar .container-fluid .navbar-header .btn-personal { width: 160px; margin-right: 20px; padding-left: 15px; }
  header .navbar .container-fluid .navbar-header-slim { padding-bottom: 0; height: 40px; }
  header .search-wrap { position: relative; display: block; margin: 0 auto; top: 0; max-width: 1140px; padding: 12px 5px 70px 5px; margin-top: 10px; }
  header .search-wrap .input-search { display: inline; position: inherit; font-weight: 400; color: #707070; min-height: 46px; font-size: large; border: 5px solid #2288cc; border-width: 5px 0 5px 5px; border-radius: 0; width: calc(100% - 130px - 190px - 190px - 114px - 114px); box-sizing: border-box; }
  header .search-wrap select { font-weight: 400; max-width: 190px; min-height: 46px; height: 46px; border: 5px solid #2288cc; border-width: 5px 0; box-sizing: border-box; font-size: large; color: #aaa; cursor: pointer; padding: 6px; }
  header .search-wrap .section-ad-wrap + .section-ad-wrap select { border-width: 5px 5px 5px 0; }
  header .search-wrap .input-group-btn { display: inline; }
  header .search-wrap .input-group-btn .btn-group { display: block; }
  header .search-wrap .input-group-btn .btn-group .btn { display: block; }
  header .search-wrap .input-group-btn .btn-group .form-group { display: block; }
  header .search-wrap .input-group-btn .btn-group .btn-search, header .search-wrap .input-group-btn .btn-group .btn-plus { margin-left: 20px; min-height: 46px !important; font-size: large; width: 114px; border: none; }
  header .search-wrap .input-group-btn .btn-group .btn-add-ad { margin: 0 0 0 20px; min-height: 46px !important; font-size: large; width: 250px; border: none; }
  header .search-wrap .example-text-wrap { margin: 2px 0; display: block; }
  header .search-wrap .example-text-wrap span { color: #ffffff; font-size: 12px; }
  header .search-wrap-slim { padding: 5px 5px 20px 5px; } }
@media only screen and (min-width: 1201px) { header { background: url(../img/panoram.jpg) no-repeat center/cover; width: 100%; }
  header .navbar-fixed-top { position: inherit; }
  header .navbar { max-width: 1140px; margin: auto; border: none; background: none; }
  header .navbar .container-fluid span.search-container-header { font-size: 28px; color: #f9f9f9; }
  header .navbar .container-fluid .navbar-header { width: 100%; padding-bottom: 30px; }
  header .navbar .container-fluid .navbar-header .new-message-quantity { min-width: 25px; height: 25px; border-radius: 50%; background-color: #46acf0; right: 0px; text-align: center; border: 1px solid #666; box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3); margin-top: -10px; padding-left: 5px; padding-right: 7px; margin-right: 3px; color: #f9f9f9; position: relative; font-size: 18px; top: -10px; }
  header .navbar .container-fluid .navbar-header .new-message-quantity span { vertical-align: middle; line-height: 1.7; }
  header .navbar .container-fluid .navbar-header .navbar-brand { margin-top: 7px; padding: 0; }
  header .navbar .container-fluid .navbar-header .navbar-brand img.logo-large { height: 58px; }
  header .navbar .container-fluid .navbar-header .btn-login, header .navbar .container-fluid .navbar-header .btn-logout, header .navbar .container-fluid .navbar-header .btn-personal, header .navbar .container-fluid .navbar-header .btn-registr { display: inline-block; border: none; padding: 0 15px; margin-right: 15px; float: right; margin-top: 34px; font-size: 19px; color: #ffffff; background-color: transparent; }
  header .navbar .container-fluid .navbar-header .btn-login span, header .navbar .container-fluid .navbar-header .btn-logout span, header .navbar .container-fluid .navbar-header .btn-personal span, header .navbar .container-fluid .navbar-header .btn-registr span { top: 2px; right: 2px; }
  header .navbar .container-fluid .navbar-header .btn-login span:last-child[class*='visible-'], header .navbar .container-fluid .navbar-header .btn-logout span:last-child[class*='visible-'], header .navbar .container-fluid .navbar-header .btn-personal span:last-child[class*='visible-'], header .navbar .container-fluid .navbar-header .btn-registr span:last-child[class*='visible-'] { display: inline-block !important; }
  header .navbar .container-fluid .navbar-header .btn-personal { width: 160px; margin-right: 20px; padding-left: 15px; }
  header .navbar .container-fluid .navbar-header-slim { padding-bottom: 0; height: 40px; }
  header .search-wrap { position: relative; display: block; margin: 0 auto; top: 0; max-width: 1140px; padding: 12px 5px 70px 5px; margin-top: 10px; }
  header .search-wrap .input-search { display: inline; position: inherit; font-weight: 400; color: #707070; min-height: 46px; font-size: large; border: 5px solid #2288cc; border-width: 5px 0 5px 5px; border-radius: 0; width: calc(100% - 130px - 190px - 190px - 114px - 114px); box-sizing: border-box; }
  header .search-wrap select { font-weight: 400; max-width: 190px; min-height: 46px; height: 46px; border: 5px solid #2288cc; border-width: 5px 0; box-sizing: border-box; font-size: large; color: #aaa; cursor: pointer; padding: 6px; }
  header .search-wrap .section-ad-wrap + .section-ad-wrap select { border-width: 5px 5px 5px 0; }
  header .search-wrap .input-group-btn { display: inline; }
  header .search-wrap .input-group-btn .btn-group { display: block; }
  header .search-wrap .input-group-btn .btn-group .btn { display: block; }
  header .search-wrap .input-group-btn .btn-group .form-group { display: block; }
  header .search-wrap .input-group-btn .btn-group .btn-search, header .search-wrap .input-group-btn .btn-group .btn-plus { margin-left: 20px; min-height: 46px !important; font-size: large; width: 114px; border: none; }
  header .search-wrap .input-group-btn .btn-group .btn-add-ad { margin: 0 0 0 20px; min-height: 46px !important; font-size: large; width: 250px; border: none; }
  header .search-wrap .example-text-wrap { margin: 2px 0; display: block; }
  header .search-wrap .example-text-wrap span { color: #ffffff; font-size: 12px; }
  header .search-wrap-slim { padding: 5px 5px 20px 5px; } }

.worker-wrap { position: absolute; left: -205px; transform: rotate(25deg); }
@media only screen and (max-width: 751px) { .worker-wrap { display: none; } }
@media only screen and (min-width: 751px) and (max-width: 991px) { .worker-wrap { display: none; } }
@media only screen and (min-width: 992px) and (max-width: 1200px) { .worker-wrap { display: none; } }

.navbar-default .navbar-brand { padding: 7px 15px; }
.navbar-default .navbar-brand .logo-mobile { height: 36px; }

ol, ul { list-style: none; padding-left: 0; }

.menu-wrap { display: block; width: 100%; top: 0; font-size: 14px; margin: -10px 0 0 0; padding: 0; }
.menu-wrap .ul-wrap { display: inline-block; width: 280px; font-family: Roboto; font-weight: 300; font-size: 14px; }
.menu-wrap .ul-wrap li { text-indent: 0; line-height: 45px; list-style: none; }
.menu-wrap .ul-wrap li a { color: #707070; display: block; padding: 3px 5px; text-decoration: none; cursor: pointer; }
.menu-wrap .ul-wrap li a .sidebar-icon { width: 45px; height: 45px; font-size: 14px; padding: 0 2px; display: block; text-indent: 7px; color: #707070; float: left; vertical-align: top; }
.menu-wrap .ul-wrap li a .sidebar-title { position: relative; width: 150px; top: -1px; display: inline-block; line-height: 13px; vertical-align: middle; color: #125487; }
.menu-wrap .ul-wrap li a .sidebar-count { float: right; margin-right: 10px; }
.menu-wrap .ul-wrap li a .caret { right: 23px; top: auto; display: inline-block; margin: 0; }
.menu-wrap .ul-wrap li a span > i { margin-right: 10px; }
.menu-wrap .ul-wrap li a:hover { background-color: #eaeaea; transition: all, .2s; }
.menu-wrap .ul-wrap li a:hover, .menu-wrap .ul-wrap li .ul-wrap > li > a.open, .menu-wrap .ul-wrap li .fixed { background-color: #eaeaea; transition: all, .2s; }
.menu-wrap .ul-wrap li ul { display: none; }
.menu-wrap .ul-wrap li ul li a { display: block; background: none; text-decoration: none; color: #125487; font-weight: 100; padding: 15px 5px 15px 70px; line-height: 15px; text-shadow: 1px 1px 0 #ffffff; cursor: pointer; }
.menu-wrap .ul-wrap li ul ul { display: none; margin-left: 50px; }
.menu-wrap .ul-wrap li ul ul li a { display: block; background: none; text-decoration: none; color: #707070; font-weight: 100; padding: 15px 5px 15px 70px; line-height: 15px; text-shadow: 1px 1px 0 #ffffff; cursor: pointer; }
.menu-wrap .ul-wrap li.active { background-color: #eaeaea; }

.fixed-item ul { display: block !important; height: auto !important; }

body { background: #f9f9f9; color: #707070; font: 14px "Roboto"; font-family: 'Roboto'; overflow-x: hidden; }
@media only screen and (min-width: 751px) and (max-width: 991px) { body { padding: 5px; } }

i { margin-right: 7px; }

ul { padding: 0; }

.offset-right-0 { padding-right: 0; }

.text-nowrap { white-space: nowrap; /* Отменяем перенос текста */ overflow: hidden; /* Обрезаем содержимое */ text-overflow: ellipsis; /* Многоточие */ }

.col-centered { float: none; margin: 0 auto; }

.offset-0 { padding-left: 0; padding-right: 0; }

::-webkit-input-placeholder { color: #aaa; }

::-moz-placeholder { color: #aaa; }

/* Firefox 19+ */
:-moz-placeholder { color: #aaa; }

/* Firefox 18- */
:-ms-input-placeholder { color: #aaa; }

main { margin-top: 100px; }
@media only screen and (min-width: 751px) and (max-width: 991px) { main { margin-top: 50px; } }
@media only screen and (min-width: 992px) and (max-width: 1200px) { main { margin-top: 20px; } }
@media only screen and (min-width: 1201px) { main { margin-top: 20px; } }
main .main-content { max-width: 1140px; margin: 0 auto; }
main .sidebar { margin: 0; width: 290px; min-height: 600px; display: inline-block; vertical-align: top; padding-top: 5px; padding-left: 5px; overflow-x: hidden; }
@media only screen and (max-width: 751px) { main .sidebar { position: fixed; left: 0; top: 50px; background: #f9f9f9; z-index: 1; overflow-y: scroll; display: none; max-height: 100%; padding-bottom: 50px; box-shadow: 20px 23px 100px -24px #000; } }
@media only screen and (min-width: 751px) and (max-width: 991px) { main .sidebar { position: fixed; left: 0; top: 50px; background: #f9f9f9; z-index: 1; max-height: 100%; overflow-y: scroll; display: none; box-shadow: 20px 23px 100px -24px #000; } }
@media only screen and (min-width: 992px) and (max-width: 1200px) { main .sidebar { display: inline-block; } }
main .section { padding: 5px; margin: 0; width: 100%; min-height: 600px; display: inline-block; vertical-align: top; }
@media only screen and (max-width: 751px) { main .section { width: 100%; } }
@media only screen and (min-width: 751px) and (max-width: 991px) { main .section { width: 100%; } }
@media only screen and (min-width: 992px) and (max-width: 1200px) { main .section { width: calc(100% - 290px - 5px); } }
@media only screen and (min-width: 1201px) { main .section { width: calc(100% - 290px - 5px); } }

main .overlay { background: rgba(0, 0, 0, 0.7); z-index: 1030; position: fixed; left: 0; top: 0; width: 100%; height: 100%; display: none; transition: visibility .15s ease,opacity .2s ease; overflow: hidden; }
main .filter-wrap { position: fixed; display: none; top: 0; width: auto; height: 100%; overflow-y: scroll; right: 0; background: #fff; z-index: 1030; }
@media only screen and (max-width: 751px) { main .filter-wrap { width: 100%; } }
main .filter-wrap p { font-weight: bold; color: #707070; margin-top: 30px; }
@media only screen and (max-width: 751px) { main .filter-wrap p { margin-top: 20px; } }
main .filter-wrap .magic-checkbox + label, main .filter-wrap .magic-radio + label { font-weight: 100; margin-bottom: 10px; }
main .filter-wrap .filter-header { padding: 19px 10px 23px 44px; width: 100%; border-bottom: 1px solid #eaeaea; }
@media only screen and (max-width: 751px) { main .filter-wrap .filter-header { padding: 10px; } }
main .filter-wrap .filter-header span { margin: 0; font-size: 24px; line-height: 30px; color: #393939; }
main .filter-wrap .filter-header .button-close { background: none; border: none; font-weight: lighter; font-size: 24px; float: right; text-decoration: none; outline: none !important; }
main .filter-wrap .filter-content { padding: 19px 44px 23px; }
@media only screen and (max-width: 751px) { main .filter-wrap .filter-content { padding: 10px; } }
@media only screen and (max-width: 751px) { main .filter-wrap .filter-content .cost-wrap p { margin-top: 5px; } }
main .filter-wrap .filter-content .cost-wrap input { background: #eaeaea; border: none; font-size: 20px; text-decoration: none; outline: none !important; margin: 0 5px; }
main .filter-wrap .filter-content .cost-wrap input::-webkit-outer-spin-button, main .filter-wrap .filter-content .cost-wrap input::-webkit-inner-spin-button { /* display: none; <- Crashes Chrome on hover */ -webkit-appearance: none; margin: 0; /* <-- Apparently some margin are still there even though it's hidden */ }
@media only screen and (max-width: 751px) { main .filter-wrap .filter-content .city-wrap select { max-width: 300px; } }
main .filter-controls { padding: 19px 44px 23px; width: 100%; margin: 0 auto; }
@media only screen and (max-width: 751px) { main .filter-controls { padding: 10px; } }
main .filter-controls .btn { width: 49%; display: inline; margin: 0; border: none; border-radius: 0; text-transform: uppercase; }

#message_center { position: fixed; top: 10px; width: 40%; z-index: 2005; margin-left: 30%; }
@media only screen and (max-width: 751px) { #message_center { width: 80%; margin-left: 10%; } }
#message_center .alert { border-radius: 0; }

/*filters*/
.filter-button-wrap { display: block; right: 100px; max-width: 100px; float: right; margin-top: 6px; }
@media only screen and (max-width: 751px) { .filter-button-wrap { margin-top: 0; } }
@media only screen and (min-width: 751px) and (max-width: 991px) { .filter-button-wrap { margin-top: 9px; } }
.filter-button-wrap a { color: #2288cc; text-decoration: none; text-transform: uppercase; }
@media only screen and (max-width: 751px) { .filter-button-wrap a span { display: none; } }
.filter-button-wrap a i { margin-right: 5px; margin-left: 5px; }
@media only screen and (max-width: 751px) { .filter-button-wrap a i { font-size: x-large; } }
.filter-button-wrap a:hover { color: #46acf0; transition: all, .2s; }

.filter-item { background: #eaeaea; color: #ffffff; font-size: 14px; display: inline-block; padding: 2px 0 0 10px; border-radius: 15px; color: #ffffff; vertical-align: top; margin: 2px; }
.filter-item span { color: #707070; display: inline-block; max-width: 200px; white-space: nowrap; /* Отменяем перенос текста */ overflow: hidden; /* Обрезаем содержимое */ padding: 3px; /* Поля */ text-overflow: ellipsis; /* Многоточие */ float: left; font-weight: 100; }
@media only screen and (max-width: 751px) { .filter-item span { font-size: small; } }
.filter-item a { float: right; display: inline-block; color: #707070; margin: 4px 10px; font-size: 12px; z-index: 2; }
@media only screen and (max-width: 751px) { .filter-item a { margin: 2px 8px 0 5px; } }
@media only screen and (max-width: 751px) { .filter-item a i { font-size: x-small; } }

main .section .section-content { min-height: 300px; }
main .section .tabs-wrap { border-top: 1px solid #eaeaea; margin-top: 10px; padding-top: 5px; }
main .section .tabs-wrap .nav-tabs { display: inline-block; float: right; border: none; vertical-align: top; }
main .section .tabs-wrap .nav-tabs li > a { text-transform: uppercase; font-size: small; background: #f9f9f9; border: none; cursor: pointer; color: #aaa; }
main .section .tabs-wrap .nav-tabs li.active > a { color: #2288cc; }
@media only screen and (max-width: 751px) { main .section .tabs-wrap .nav-tabs li.active > a { background: #eaeaea; border-radius: 0; } }
main .section .tabs-wrap .nav-tabs li > a:hover :focus :active { background: #eaeaea; border-radius: 0; border: none; }
main .section .tabs-wrap .nav-tabs li > a > i { margin-right: 5px; }
@media only screen and (max-width: 751px) { main .section .tabs-wrap .nav-tabs li > a > i { margin-right: 0; } }
@media only screen and (max-width: 751px) { main .section .tabs-wrap .nav-tabs li > a > span { display: none; } }
main .section .tabs-wrap #map { padding-top: 5px; width: 100%; height: 500px; }
@media only screen and (max-width: 751px) { main .section .tabs-wrap #map { height: 300px; } }
main .section .tabs-wrap #map * { overflow: visible; }
main .section .section-content .tabs-wrap select { width: auto; vertical-align: top; display: inline-block; padding-top: 5px; background: #f9f9f9; border-radius: 2px; }

/*products*/
main #tab-rows .product-wrap .product { width: 100%; }
main #tab-rows .product-wrap .product a { position: relative; }
main #tab-rows .product-wrap .product a .product-img { display: inline-block; width: 35px; height: 35px; margin: 5px; }
@media only screen and (max-width: 751px) { main #tab-rows .product-wrap .product a .product-img { width: 55px; height: 55px; } }
main #tab-rows .product-wrap .product a .description { display: inline-block; height: 35px; width: calc(100% - 110px); }
@media only screen and (max-width: 751px) { main #tab-rows .product-wrap .product a .description { height: auto; width: calc(100% - 125px); } }
main #tab-rows .product-wrap .product a .name { float: left; font-size: 13px; height: 100%; margin: 0; max-width: initial; line-height: 19px; padding: 0; padding-top: 8px; vertical-align: middle; width: calc(60% - 90px); font-weight: bold; color: #000; }
@media only screen and (max-width: 751px) { main #tab-rows .product-wrap .product a .name { height: auto; padding-top: inherit; width: 100%; } }
main #tab-rows .product-wrap .product a .address { background: none; color: #000; float: left; font-size: 13px; font-weight: 300; height: 100%; margin: 0; max-width: initial; line-height: 19px; padding: 0; padding-top: 8px; vertical-align: middle; width: 40%; padding-left: 5px; }
@media only screen and (max-width: 751px) { main #tab-rows .product-wrap .product a .address { height: auto; padding-left: 0; padding-top: inherit; width: 100%; } }
main #tab-rows .product-wrap .product a .price { float: right; margin: 0; padding-top: 10px; text-align: right; vertical-align: middle; width: 80px; }
@media only screen and (max-width: 751px) { main #tab-rows .product-wrap .product a .price { text-align: left; padding-top: inherit; width: 100%; } }
main #tab-rows .product-wrap .product a .bucket-wrap { bottom: 5px; position: absolute; right: 5px; }
main .product-wrap { margin-top: 5px; width: 100%; }
main .product-wrap .row { margin: 0 -5px; padding: 0; }
main .product-wrap .product { display: block; margin: 0; padding: 5px; }
main .product-wrap .product a { display: block; text-align: left; text-decoration: none; background: #FFF; border: 1px solid #E8ECF2; width: 100%; }
main .product-wrap .product a .product-img { position: relative; border-bottom: 1px solid #E8ECF2; background: ivory; height: 228px; width: 100%; }
main .product-wrap .product a .product-img .frame-square { background: #fff; width: 100%; height: 100%; margin-right: .5em; margin-bottom: .3em; }
main .product-wrap .product a .product-img .frame-square .crop { height: 100%; overflow: hidden; position: relative; }
main .product-wrap .product a .product-img .frame-square .crop img { display: block; height: auto; /*min-width: 100%;
min-height: 100%;
margin: auto;
position: absolute;
top: -100%;
right: -100%;
bottom: -100%;
left: -100%;*/ }
main .product-wrap .product a .product-img img { height: 200px; object-fit: cover; }
main .product-wrap .product a .address { position: relative; margin: -50px 0 0 0; padding: 20px 5px 10px 10px; font-size: 12px; line-height: 18px; font-weight: 100; color: #ffffff; background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); width: 100%; height: 50px; border: none; }
main .product-wrap .product a .price { font-weight: 600; font-size: 14px; color: #2288cc; width: 100%; margin: 10px 5px 5px 10px; }
main .product-wrap .product a .name { font-weight: 300; font-size: 12px; color: #666; width: 92%; margin: 5px 5px 10px 10px; }
main .product-wrap .product a .bucket-wrap { position: absolute; right: 15px; bottom: 15px; }
main .product-wrap .product a:hover { box-shadow: 0 0 20px rgba(100, 100, 100, 0.9); transition: all, .5s; }
main .product-wrap a.show-more { text-transform: uppercase; color: #2288cc; text-align: center; text-decoration: none; font-size: medium; font-weight: 600; margin-top: 30px; }
main .product-wrap a.show-more:hover { color: #46acf0; text-decoration: none; transition: all, .5s; }

footer { margin-top: 50px; display: block; }
footer .footer-container { max-width: 1140px; }
@media only screen and (max-width: 751px) { footer .footer-container { margin: 0 15px; } }
@media only screen and (min-width: 751px) and (max-width: 991px) { footer .footer-container { margin: 0 15px; } }
@media only screen and (min-width: 992px) and (max-width: 1200px) { footer .footer-container { margin: 0 15px; } }
footer .footer-container .cities-wrap { overflow: hidden; }
footer .footer-container .cities-wrap a { color: #aaa; display: inline-block; width: 220px; margin: 2px 0; overflow: hidden; white-space: nowrap; /* Отменяем перенос текста */ overflow: hidden; /* Обрезаем содержимое */ text-overflow: ellipsis; /* Многоточие */ }
@media only screen and (max-width: 751px) { footer .footer-container .cities-wrap a { max-width: 130px; } }
@media only screen and (min-width: 751px) and (max-width: 991px) { footer .footer-container .cities-wrap a { max-width: 150px; } }
footer .footer-container a.all-cities { margin: 20px 0 28px 0; color: #2288cc; display: block; }
footer .footer-container a.all-cities :hover { color: #46acf0; }
footer .copyright-container { margin: 4px 0 32px 0; }
footer .copyright-container a { display: inline; }
@media only screen and (max-width: 751px) { footer .copyright-container a { display: block; margin: 10px 0; } }
@media only screen and (min-width: 751px) and (max-width: 991px) { footer .copyright-container a { margin: 10px 0; } }
footer .copyright-container a.copyright, footer .copyright-container a.about, footer .copyright-container a.rules { color: #aaa; margin-right: 50px; text-decoration: none; }
footer .copyright-container a.about, footer .copyright-container a.rules { margin-right: 10px; color: #808080; }

body { background: #f9f9f9; color: #707070; font: 14px "Roboto"; font-family: 'Roboto'; overflow-x: hidden; }
@media only screen and (min-width: 751px) and (max-width: 991px) { body { padding: 5px; } }

i { margin-right: 7px; }

ul { padding: 0; }

.offset-right-0 { padding-right: 0; }

.text-nowrap { white-space: nowrap; /* Отменяем перенос текста */ overflow: hidden; /* Обрезаем содержимое */ text-overflow: ellipsis; /* Многоточие */ }

.col-centered { float: none; margin: 0 auto; }

.offset-0 { padding-left: 0; padding-right: 0; }

::-webkit-input-placeholder { color: #aaa; }

::-moz-placeholder { color: #aaa; }

/* Firefox 19+ */
:-moz-placeholder { color: #aaa; }

/* Firefox 18- */
:-ms-input-placeholder { color: #aaa; }

main { margin-top: 100px; }
@media only screen and (min-width: 751px) and (max-width: 991px) { main { margin-top: 50px; } }
@media only screen and (min-width: 992px) and (max-width: 1200px) { main { margin-top: 20px; } }
@media only screen and (min-width: 1201px) { main { margin-top: 20px; } }
main .main-content { max-width: 1140px; margin: 0 auto; }
main .sidebar { margin: 0; width: 290px; min-height: 600px; display: inline-block; vertical-align: top; padding-top: 5px; padding-left: 5px; overflow-x: hidden; }
@media only screen and (max-width: 751px) { main .sidebar { position: fixed; left: 0; top: 50px; background: #f9f9f9; z-index: 1; overflow-y: scroll; display: none; max-height: 100%; padding-bottom: 50px; box-shadow: 20px 23px 100px -24px #000; } }
@media only screen and (min-width: 751px) and (max-width: 991px) { main .sidebar { position: fixed; left: 0; top: 50px; background: #f9f9f9; z-index: 1; max-height: 100%; overflow-y: scroll; display: none; box-shadow: 20px 23px 100px -24px #000; } }
@media only screen and (min-width: 992px) and (max-width: 1200px) { main .sidebar { display: inline-block; } }
main .section { padding: 5px; margin: 0; width: 100%; min-height: 600px; display: inline-block; vertical-align: top; }
@media only screen and (max-width: 751px) { main .section { width: 100%; } }
@media only screen and (min-width: 751px) and (max-width: 991px) { main .section { width: 100%; } }
@media only screen and (min-width: 992px) and (max-width: 1200px) { main .section { width: calc(100% - 290px - 5px); } }
@media only screen and (min-width: 1201px) { main .section { width: calc(100% - 290px - 5px); } }

main .overlay { background: rgba(0, 0, 0, 0.7); z-index: 1030; position: fixed; left: 0; top: 0; width: 100%; height: 100%; display: none; transition: visibility .15s ease,opacity .2s ease; overflow: hidden; }
main .filter-wrap { position: fixed; display: none; top: 0; width: auto; height: 100%; overflow-y: scroll; right: 0; background: #fff; z-index: 1030; }
@media only screen and (max-width: 751px) { main .filter-wrap { width: 100%; } }
main .filter-wrap p { font-weight: bold; color: #707070; margin-top: 30px; }
@media only screen and (max-width: 751px) { main .filter-wrap p { margin-top: 20px; } }
main .filter-wrap .magic-checkbox + label, main .filter-wrap .magic-radio + label { font-weight: 100; margin-bottom: 10px; }
main .filter-wrap .filter-header { padding: 19px 10px 23px 44px; width: 100%; border-bottom: 1px solid #eaeaea; }
@media only screen and (max-width: 751px) { main .filter-wrap .filter-header { padding: 10px; } }
main .filter-wrap .filter-header span { margin: 0; font-size: 24px; line-height: 30px; color: #393939; }
main .filter-wrap .filter-header .button-close { background: none; border: none; font-weight: lighter; font-size: 24px; float: right; text-decoration: none; outline: none !important; }
main .filter-wrap .filter-content { padding: 19px 44px 23px; }
@media only screen and (max-width: 751px) { main .filter-wrap .filter-content { padding: 10px; } }
@media only screen and (max-width: 751px) { main .filter-wrap .filter-content .cost-wrap p { margin-top: 5px; } }
main .filter-wrap .filter-content .cost-wrap input { background: #eaeaea; border: none; font-size: 20px; text-decoration: none; outline: none !important; margin: 0 5px; }
main .filter-wrap .filter-content .cost-wrap input::-webkit-outer-spin-button, main .filter-wrap .filter-content .cost-wrap input::-webkit-inner-spin-button { /* display: none; <- Crashes Chrome on hover */ -webkit-appearance: none; margin: 0; /* <-- Apparently some margin are still there even though it's hidden */ }
@media only screen and (max-width: 751px) { main .filter-wrap .filter-content .city-wrap select { max-width: 300px; } }
main .filter-controls { padding: 19px 44px 23px; width: 100%; margin: 0 auto; }
@media only screen and (max-width: 751px) { main .filter-controls { padding: 10px; } }
main .filter-controls .btn { width: 49%; display: inline; margin: 0; border: none; border-radius: 0; text-transform: uppercase; }

#message_center { position: fixed; top: 10px; width: 40%; z-index: 2005; margin-left: 30%; }
@media only screen and (max-width: 751px) { #message_center { width: 80%; margin-left: 10%; } }
#message_center .alert { border-radius: 0; }

main.main-add-ad { padding: 0 5px 5px 5px; margin: 0; }
@media only screen and (max-width: 751px) { main.main-add-ad { margin-top: 90px; } }
@media only screen and (min-width: 751px) and (max-width: 991px) { main.main-add-ad { margin-top: 45px; } }
main.main-add-ad .main-content { background: #fff; border: 1px solid #f9f9f9; border-radius: 0 0 5px 5px; box-shadow: 0px -1px 6px -3px #000000; }
main.main-add-ad .main-content .product-gallery .pgwSlider { display: inline-block; }
main.main-add-ad .main-content h1 { margin-top: 0; }
@media only screen and (max-width: 751px) { main.main-add-ad .main-content h2 { font-size: 22px; } }
main.main-add-ad .main-content .magic-checkbox + label, main.main-add-ad .main-content .magic-radio + label { display: inline-block; margin: 10px 20px 10px 0; }
main.main-add-ad .main-content input, main.main-add-ad .main-content textarea { margin: 5px auto; }
main.main-add-ad .main-content #map { padding-top: 5px; width: 100%; height: 300px; }
@media only screen and (max-width: 751px) { main.main-add-ad .main-content #map { height: 200px; } }
main.main-add-ad .main-content .big-btn { width: 100%; height: 50px; border: none; border-radius: 0; font-size: large; }
@media only screen and (max-width: 751px) { main.main-add-ad .main-content .big-btn { font-size: medium; height: auto; } }
main.main-add-ad .main-content .btn-next, main.main-add-ad .main-content .btn-prev { width: auto; margin: 5px; float: right; }
@media only screen and (max-width: 751px) { main.main-add-ad .main-content .btn-next, main.main-add-ad .main-content .btn-prev { width: calc(100% - 10px); display: block; float: none; } }
main.main-add-ad .main-content .btn-prev { float: left; }
main.main-add-ad .main-content .step-nav-wrap { padding-left: 15px; padding-right: 15px; }
main.main-add-ad .main-content .preview { padding: 10px; border: 1px solid #aaa; border-radius: 5px; box-sizing: border-box; }
main.main-add-ad .main-content .view-ad-wrap { margin-bottom: 20px; }
main.main-add-ad .main-content select { display: block; width: 100%; padding: 5px; margin-bottom: 10px; font-size: 14px; line-height: 1.42857143; color: #555; background-color: #fff; background-image: none; border: 1px solid #ccc; border-radius: 4px; box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; }
main.main-add-ad .main-content .face-type-wrap { margin-bottom: 30px; margin-top: -5px; }
main.main-add-ad .main-content .face-type-wrap span:not(:first-child) { margin-left: 20px; }
main.main-add-ad .main-content .form-group { margin-top: 20px; }
main.main-add-ad .main-content .form-group .ad-article-title { padding-bottom: 10px; }
main.main-add-ad .main-content .form-group .ad-article-content label { font-weight: normal; margin: 0 0 -5px 0; }
main.main-add-ad .main-content .form-group .ad-info-wrap label:not(:first-child) { margin: 10px 15px -5px 0; }
main.main-add-ad .main-content .form-group .contacts-wrap input:not(:first-child) { margin-bottom: 15px; }
main.main-add-ad .main-content .product-card-title { min-height: 70px; }
main.main-add-ad .main-content .product-card-title .product-price { display: inline-block; margin-right: 20px; }
main.main-add-ad .main-content .product-card-title .product-price span { font-size: 30px; color: #2288cc; }
@media only screen and (max-width: 751px) { main.main-add-ad .main-content .product-card-title .product-price span { font-size: 22px; } }
@media only screen and (min-width: 751px) and (max-width: 991px) { main.main-add-ad .main-content .product-card-title .product-price span { font-size: 22px; } }
main.main-add-ad .main-content .product-card-title .product-title { display: inline-block; font-size: 24px; color: #707070; }
main.main-add-ad .main-content .horizontal-buttons { display: flex; flex-direction: column; }
@media only screen and (max-width: 751px) { main.main-add-ad .main-content .horizontal-buttons { flex-direction: row; } }
main.main-add-ad .main-content .horizontal-buttons .ad-btn-wrap { justify-content: space-between; height: 50px; padding: 0; margin-bottom: 5px; }
@media only screen and (max-width: 751px) { main.main-add-ad .main-content .horizontal-buttons .ad-btn-wrap { width: 33.33%; }
  main.main-add-ad .main-content .horizontal-buttons .ad-btn-wrap:not(:last-child) { margin-right: 2px; } }
main.main-add-ad .main-content .product-description { margin: 30px 0 20px 0; }
@media only screen and (max-width: 751px) { main.main-add-ad .main-content .product-description { margin-top: 0; } }
main.main-add-ad .main-content .product-description .product-desc-item { display: inline-block; margin-right: 40px; }
main.main-add-ad .main-content .product-text { line-height: 1.42; margin: 20px 0; }
main.main-add-ad .main-content .product-tags { margin-bottom: 20px; }
main.main-add-ad .main-content .product-tags .product-tagc-item { display: inline-block; padding: 10px; background: #eaeaea; box-sizing: border-box; }
main.main-add-ad .main-content .navigation-buttons { display: block; height: 60px; margin: 30px 0 20px 0; }
@media only screen and (max-width: 751px) { main.main-add-ad .main-content .navigation-buttons { height: 60px; } }
main.main-add-ad .main-content .more-space-updown { margin: 60px 0 40px 0; }
main.main-add-ad .breadcrumb-wrap { display: flex; justify-content: space-between; background-color: #f5f5f5; margin: 15px; border-radius: 4px; flex-wrap: wrap; }
main.main-add-ad .breadcrumb { margin: 0; padding: 10px 15px; }
main.main-add-ad .pagination-wrap { margin-top: 3px; margin-left: 3px; }
main.main-add-ad .pagination-wrap .pagination { margin: 0; }
main.main-add-ad .pagination-wrap .pagination .page-link { border: none; background-color: transparent; }

.cost-wrap-label .control-label { display: inline-block; width: calc(50% - 20px); }
.cost-wrap-label .control-label:first-child { width: 50%; }

.cost-wrap-controls .form-control { display: inline-block; width: calc(50% - 5px); }
.cost-wrap-controls #select-units { display: inline-block; width: calc(50% - 5px); margin-left: 5px; height: 34px; }

/*Steps*/
/*Form Wizard*/
.bs-wizard { margin-top: 40px; }

.bs-wizard { border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0; }

.bs-wizard > .bs-wizard-step { padding: 0; position: relative; }

.bs-wizard > .bs-wizard-step .bs-wizard-stepnum { color: #595959; font-size: 16px; margin-bottom: 5px; }

.bs-wizard > .bs-wizard-step .bs-wizard-info { color: #999; font-size: 14px; }
@media only screen and (min-width: 751px) and (max-width: 991px) { .bs-wizard > .bs-wizard-step .bs-wizard-info { font-size: 12px; } }

.bs-wizard > .bs-wizard-step > .bs-wizard-dot { position: absolute; width: 30px; height: 30px; display: block; background: #46acf0; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%; }

.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after { content: ' '; width: 14px; height: 14px; background: #2288cc; border-radius: 50px; position: absolute; top: 8px; left: 8px; }

.bs-wizard > .bs-wizard-step > .progress { position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0; }

.bs-wizard > .bs-wizard-step > .progress > .progress-bar { width: 0px; box-shadow: none; background: #46acf0; }

.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar { width: 100%; }

.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar { width: 50%; }

.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar { width: 0%; }

.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar { width: 100%; }

.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot { background-color: #f5f5f5; }

.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after { opacity: 0; }

.bs-wizard > .bs-wizard-step:first-child > .progress { left: 50%; width: 50%; }

.bs-wizard > .bs-wizard-step:last-child > .progress { width: 50%; }

.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot { pointer-events: none; }

/*END Form Wizard*/
#login-form-modal .panel-login { border-color: #ccc; -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2); box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2); }
#login-form-modal .panel-login > .panel-heading { color: #00415d; background-color: #fff; border-color: #fff; text-align: center; }
#login-form-modal .panel-login > .panel-heading a { text-decoration: none; color: #666; font-weight: bold; font-size: 15px; -webkit-transition: all 0.1s linear; -moz-transition: all 0.1s linear; transition: all 0.1s linear; }
#login-form-modal .panel-login > .panel-heading a.active { color: #029f5b; font-size: 18px; }
#login-form-modal .panel-login > .panel-heading hr { margin-top: 10px; margin-bottom: 0px; clear: both; border: 0; height: 1px; background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0)); background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0)); background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0)); background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0)); }
#login-form-modal .panel-login input[type="text"], #login-form-modal .panel-login input[type="email"], #login-form-modal .panel-login input[type="password"] { height: 45px; border: 1px solid #ddd; font-size: 16px; -webkit-transition: all 0.1s linear; -moz-transition: all 0.1s linear; transition: all 0.1s linear; }
#login-form-modal .panel-login input:hover, #login-form-modal .panel-login input:focus { outline: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; border-color: #ccc; }
#login-form-modal .btn-login { background-color: #59B2E0; outline: none; color: #fff; font-size: 14px; height: auto; font-weight: normal; padding: 14px 0; text-transform: uppercase; border-color: #59B2E6; }
#login-form-modal .btn-login:hover, #login-form-modal .btn-login:focus { color: #fff; background-color: #53A3CD; border-color: #53A3CD; }
#login-form-modal .forgot-password { text-decoration: underline; color: #888; }
#login-form-modal .forgot-password:hover, #login-form-modal .forgot-password:focus { text-decoration: underline; color: #666; }
#login-form-modal .btn-register { background-color: #1CB94E; outline: none; color: #fff; font-size: 14px; height: auto; font-weight: normal; padding: 14px 0; text-transform: uppercase; border-color: #1CB94A; }
#login-form-modal .btn-register:hover, #login-form-modal .btn-register:focus { color: #fff; background-color: #1CA347; border-color: #1CA347; }
#login-form-modal .modal { z-index: 2006; }
#login-form-modal .modal-dialog { z-index: 2007; }
#login-form-modal .modal-dialog .modal-content { z-index: 2008; }
#login-form-modal .modal-dialog .modal-content .modal-header { z-index: 2009; }
#login-form-modal .modal-dialog .modal-content .modal-body { z-index: 2010; height: 500px; }

main.main-personal .navbar { background: #2288CC; color: #fff; margin-bottom: 0; border-radius: 4px; }
@media screen and (max-width: 991px) { main.main-personal .navbar { margin-bottom: 2px; } }
main.main-personal .navbar .navbar-inner { position: absolute; left: 0; top: 0; width: 100%; height: 100%; -moz-box-sizing: border-box; box-sizing: border-box; overflow: hidden; display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: -moz-box; display: flex; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; -moz-box-align: center; align-items: center; }
main.main-personal .navbar .navbar-inner .center { margin: 0 auto; }
@media screen and (max-width: 991px) { main.main-personal .contacts-content.active { display: block; } }
main.main-personal .contacts-content { height: auto; overflow: auto; margin-bottom: 15px; }
@media screen and (max-width: 991px) { main.main-personal .contacts-content { display: none; } }
main.main-personal .contacts-content .contact.active { background-color: #67A3CA; color: #fff; border: 2px solid #00415d; border-radius: 5px; }
main.main-personal .contacts-content .contact.active:hover { background-color: #04B6E0; color: #fff; }
main.main-personal .contacts-content .contact.new-message { background-color: #87C0E8; color: #fff; }
main.main-personal .contacts-content .contact.new-message:hover { background-color: #04B6E0; color: #fff; }
main.main-personal .contacts-content .contact:hover { background-color: #E1E5EB; }
main.main-personal .contacts-content .new-message-quantity { min-width: 25px; height: 25px; border-radius: 50%; background-color: #46acf0; color: #f9f9f9; position: absolute; top: 45%; right: 100px; text-align: center; border: 1px solid #666; box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3); margin-top: -10px; }
main.main-personal .contacts-content .new-message-quantity span { vertical-align: middle; line-height: 1.7; }
main.main-personal .contacts-content .contact { position: relative; cursor: pointer; }
main.main-personal .contacts-content .contact .contact-image, main.main-personal .contacts-content .contact .contact-initials { width: 60px; height: 60px; display: inline-block; margin: 5px; }
main.main-personal .contacts-content .contact .contact-image img, main.main-personal .contacts-content .contact .contact-initials img { height: 100%; width: 100%; border-radius: 50%; }
main.main-personal .contacts-content .contact .contact-initials { display: inline-block; margin: 5px; position: relative; width: 60px; height: 60px; }
main.main-personal .contacts-content .contact .contact-initials div { color: black; font-size: 30px; text-align: center; padding-top: 12px; height: 100%; width: 100%; border-radius: 34px; background: #f9f9f9; }
main.main-personal .contacts-content .contact .contact-info { display: inline-block; vertical-align: top; margin-top: 16px; }
main.main-personal .contacts-content .contact .contact-info .contact-name { font-size: 16px; }
main.main-personal .contacts-content .contact .contact-info span { display: block; }
main.main-personal .contacts-content .contact .contact-delete { position: absolute; right: 48px; bottom: 25%; }
main.main-personal .contacts-content .contact .contact-delete span { top: 2px; }
main.main-personal .contacts-content .contact .contact-goto { position: absolute; right: 15px; bottom: 25%; color: #666; }
main.main-personal .contacts-content .contact .contact-goto .contact-goto-right { background: none; border: none; top: 2px; font-size: 25px; }
main.main-personal .contacts-content .contact .contact-goto .contact-goto-right:hover { color: #2288cc; }
main.main-personal .dialogs .contact-initials { width: 48px; height: 48px; }
main.main-personal .dialogs .contact-initials div { color: white; font-size: 20px; text-align: center; padding-top: 12px; height: 100%; width: 100%; border-radius: 34px; background: #2288cc; }
main.main-personal .main-content.personal-data-content { padding: 0; }
main.main-personal .main-content.personal-data-content .sidebar { min-height: 200px; }
main.main-personal .main-content.personal-data-content .tab-content-profile { margin: 40px 0; }
main.main-personal .main-content.personal-data-content .person { margin-bottom: 50px; }
main.main-personal .main-content.personal-data-content .person .person-content .personal-photo, main.main-personal .main-content.personal-data-content .person .person-content .personal-initials { padding: 0; display: inline-block; width: 120px; height: 120px; background-color: grey; vertical-align: top; margin-right: 20px; margin-bottom: 20px; }
main.main-personal .main-content.personal-data-content .person .person-content .personal-photo img, main.main-personal .main-content.personal-data-content .person .person-content .personal-initials img { width: 100%; height: 100%; border-radius: 50%; }
main.main-personal .main-content.personal-data-content .person .person-content .personal-initials { color: white; font-size: 62px; text-align: center; border-radius: 60px; }
main.main-personal .main-content.personal-data-content .person .person-content .personal-initials span { display: block; margin-top: 20px; }
main.main-personal .main-content.personal-data-content .person .person-content .personal-info { display: inline-block; vertical-align: top; }
main.main-personal .main-content.personal-data-content .person .person-content .personal-info .personal-name { font-size: 30px; font-family: inherit; font-weight: 500; line-height: 1.1; color: inherit; margin-top: 0; display: block; }
@media screen and (max-width: 400px) { main.main-personal .main-content.personal-data-content .person .person-content .personal-info .personal-name { font-size: 20px; } }
main.main-personal .main-content.personal-data-content .person .person-content .personal-info .personal-phone, main.main-personal .main-content.personal-data-content .person .person-content .personal-info .personal-mail { display: block; }
main.main-personal .main-content.personal-data-content .person .person-content .personal-info span { margin-top: 5px; }
main.main-personal .main-content.personal-data-content .person .person-content .personal-info .change-info-href { margin-top: 5px; display: block; }
main.main-personal .main-content .posters-header { text-align: center; margin-bottom: 20px; }
@media screen and (max-width: 991px) { main.main-personal .main-content .posters-header { font-size: 14px; background-color: #2288CC; color: #fff; font-weight: 400; margin: 0; padding-bottom: 17px; padding-top: 17px; border-radius: 4px; margin-bottom: 2px; cursor: pointer; } }
@media screen and (max-width: 991px) { main.main-personal .main-content .posters.active { display: block; } }
main.main-personal .main-content .posters { max-height: 640px; overflow: auto; }
main.main-personal .main-content .poster.active { border: solid 2px #2288CC; box-shadow: 0 0 4px 1px #2288CC; }
main.main-personal .main-content .poster { padding: 10px; border: solid 2px #D1D9E0; border-radius: 6px; margin-top: 4px; margin-bottom: 4px; cursor: pointer; padding: 10px; }
main.main-personal .main-content .poster .row { margin: 0; padding: 0; }
main.main-personal .main-content .poster .poster-info .poster-name { display: block; font-size: 16px; font-weight: 600; text-overflow: ellipsis; white-space: nowrap; max-width: 300px; overflow: hidden; }
main.main-personal .main-content .poster .poster-info .poster-about { text-overflow: ellipsis; max-height: 85px; display: block; overflow: hidden; margin: 5px 0; }
main.main-personal .main-content .poster .poster-info .poster-price { color: #2288CC; font-weight: 600; }
main.main-personal .main-content .poster .poster-image-wrap { padding: 0; }
main.main-personal .main-content .poster .poster-image { width: 140px; height: 140px; }
@media screen and (max-width: 400px) { main.main-personal .main-content .poster .poster-image { width: 70px; height: 70px; } }
main.main-personal .main-content .poster .poster-image img { width: 100%; height: 100%; }
main.main-personal .main-content .poster .poster-config { padding-left: 20px; }
main.main-personal .main-content .poster .poster-config .poster-link-button { word-break: break-all; word-wrap: break-word; }
main.main-personal .main-content .poster .poster-config .poster-link-button .new-message-quantity { min-width: 25px; height: 25px; border-radius: 50%; background-color: #46acf0; right: 0px; text-align: center; border: 1px solid #666; box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3); margin-top: -10px; padding-left: 5px; padding-right: 7px; margin-right: 3px; color: #f9f9f9; position: relative; }
main.main-personal .main-content .poster .poster-config .poster-link-button .new-message-quantity span { vertical-align: middle; line-height: 1.7; }
main.main-personal .main-content .poster .poster-config ul { overflow: auto; }
main.main-personal .main-content .poster .poster-config li { margin-bottom: 5px; text-align: right; }
@media screen and (max-width: 991px) { main.main-personal .main-content .poster .poster-config li { margin-bottom: 5px; } }
main.main-personal .main-content .poster .poster-config li .btn i { margin-right: 0; }
@media only screen and (max-width: 751px) { main.main-personal .main-content .poster .poster-config li .btn { padding: 5px 8px; } }
main.main-personal .main-content .poster .poster-config li:last-child { margin-bottom: 0; }
main.main-personal .main-content .poster .poster-config a { text-decoration: none; }
main.main-personal .main-content .poster .poster-config a i, main.main-personal .main-content .poster .poster-config a span { color: #707070; }
main.main-personal .main-content .poster .poster-config a:hover { border-bottom: solid 1px #707070; }

@media screen and (max-width: 991px) { .dialogs .messages-content.active { display: block; } }
.dialogs .messages-content { height: auto; overflow-x: auto; }
@media screen and (max-width: 991px) { .dialogs .messages-content { display: none; } }
.dialogs .view .navbar { background: #2288CC; color: #fff; margin-bottom: 0; }
.dialogs .messages-date { text-align: center; font-weight: 500; font-size: 12px; line-height: 1; margin: 10px 15px; }
.dialogs .message-sent { -ms-flex-item-align: end; -webkit-align-self: flex-end; align-self: flex-end; -webkit-box-align: end; -ms-flex-align: end; -webkit-align-items: flex-end; align-items: flex-end; }
.dialogs .message-sent .message-text { background-color: #C8E6C9; margin-left: auto; border-radius: 2px 2px 0 2px; margin-right: 8px; }
.dialogs .message-received { -ms-flex-item-align: start; -webkit-align-self: flex-start; align-self: flex-start; -webkit-box-align: start; -ms-flex-align: start; -webkit-align-items: flex-start; align-items: flex-start; }
.dialogs .message-received .message-text { background-color: #fff; border-radius: 2px 2px 2px 0; margin-left: 60px; }
.dialogs .message-avatar { width: 48px; height: 48px; border-radius: 100%; margin-top: -48px; position: relative; top: 1px; background-size: cover; opacity: 1; -webkit-transition-duration: .4s; transition-duration: .4s; }
.dialogs .message-date, .dialogs .message-label, .dialogs .message-name, .dialogs .messages-date { color: rgba(0, 0, 0, 0.51); }
.dialogs .message-label { font-size: 12px; line-height: 1; margin-top: 4px; }
.dialogs .message-sent .message-label, .dialogs .message-sent .message-name { margin-right: 8px; }
.dialogs .message-received.message-with-avatar .message-label, .dialogs .message-received.message-with-avatar .message-name, .dialogs .message-received.message-with-avatar .message-text { margin-left: 56px; }
.dialogs .message { box-sizing: border-box; margin: 0 8px 8px 8px; max-width: 100%; display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-orient: vertical; -moz-box-orient: vertical; -ms-flex-direction: column; -webkit-flex-direction: column; flex-direction: column; }
.dialogs .message-received.message-with-avatar .message-label, .dialogs .message-received.message-with-avatar .message-name, .dialogs .message-received.message-with-avatar .message-text { margin-left: 56px; }
.dialogs .message-name { font-size: 12px; line-height: 1; margin-bottom: 2px; margin-top: 7px; }
.dialogs .message-appear-from-bottom { -webkit-animation: messageAppearFromBottom .4s; animation: messageAppearFromBottom .4s; }
.dialogs .message-sent .message-text:before { position: absolute; content: ''; border-left: 0 solid transparent; border-right: 8px solid transparent; border-bottom: 8px solid #C8E6C9; left: 100%; bottom: 0; width: 0; height: 0; }
.dialogs .message-received .message-text:before { position: absolute; content: ''; border-left: 8px solid transparent; border-right: 0 solid transparent; border-bottom: 8px solid #fff; right: 100%; bottom: 0; width: 0; height: 0; }
.dialogs .navbar-inner, .dialogs .toolbar-inner { left: 0; top: 3px; width: 100%; height: 100%; box-sizing: border-box; overflow: hidden; display: block; }
.dialogs .navbar-inner .left, .dialogs .toolbar-inner .left { margin-left: 2px; margin-top: 1px; }
.dialogs .navbar-inner .left .navbar-back, .dialogs .toolbar-inner .left .navbar-back { font-size: 25px; color: #f9f9f9; cursor: pointer; }
.dialogs .toolbar.messagebar textarea { -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; appearance: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: none; background: 0 0; box-shadow: none; display: block; padding: 3px 8px 3px; width: 100%; min-width: 100%; max-width: 100%; color: #333; font-size: 16px; line-height: 22px; font-family: inherit; height: 140px; min-height: 80px; border: 1px solid #CCCCCC; margin: 10px 0; }
@media screen and (max-width: 991px) { .dialogs .toolbar.messagebar.active { display: block; } }
.dialogs .toolbar.messagebar { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); background: #fff; top: auto; bottom: 0; font-size: 16px; overflow: hidden; }
@media screen and (max-width: 991px) { .dialogs .toolbar.messagebar { display: none; } }
.dialogs .message-text { box-sizing: border-box; border-radius: 2px; padding: 6px 8px; min-width: 48px; font-size: 16px; line-height: 1.2; word-break: break-word; color: #333; min-height: 48px; position: relative; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
.dialogs .message-text img { max-height: 300px; max-width: 300px; }
.dialogs a, .dialogs input, .dialogs select, .dialogs textarea { outline: 0; }
.dialogs .toolbar.messagebar .link { color: #fff; height: 48px; line-height: 48px; float: right; }
.dialogs .toolbar .link { line-height: 48px; height: 48px; background-color: #2288CC; }
.dialogs .navbar .link, .dialogs .subnavbar .link, .dialogs .toolbar .link { text-decoration: none; position: relative; color: #fff; box-sizing: border-box; display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; padding: 0 16px; min-width: 48px; }
.dialogs .actions-modal-button, .dialogs .button, .dialogs .floating-button > a, .dialogs .label-checkbox, .dialogs .label-radio, .dialogs .modal-button, .dialogs .ripple, .dialogs .speed-dial-buttons a, .dialogs .tab-link, .dialogs a.floating-button, .dialogs a.item-link, .dialogs a.link { -webkit-user-select: none; user-select: none; }
.dialogs .toolbar a { -webkit-box-flex: 1; -webkit-flex-shrink: 1; -ms-flex: 0 1 auto; flex-shrink: 1; position: relative; white-space: nowrap; text-overflow: ellipsis; }
.dialogs .center { margin: 0 auto; }

.modal-dialog .modal-body input { margin-bottom: 10px; }

.phoneCallWrap { width: 200px; margin: 0 auto 20px auto; }
@media only screen and (max-width: 751px) { .phoneCallWrap { width: 100%; } }
.phoneCallWrap .phoneCall { display: block; background-color: #F44; font-size: 16px; color: #fff; height: 40px; border-radius: 5px; text-align: center; padding: 10px; text-decoration: none; }
.phoneCallWrap .phoneCall:hover, .phoneCallWrap .phoneCall focus { text-decoration: none; background-color: #f66; }

#loginModal .modal-content { padding: 5px 10px; }
#loginModal label.checkbox { margin-left: 20px; }

.infoText { margin-bottom: 20px; }

.soproma-checked p { font-size: 16px; font-weight: bold; }
.soproma-checked p.checked { color: #0a0; }
.soproma-checked p.no-checked { color: darkorange; }

header .input-group .btn { border-radius: 4px !important; }

header .input-group-btn .btn { background: #2288cc; height: 34px !important; /*было 46*/ min-height: 34px !important; margin-top: 0 !important; margin-bottom: 2px; }

.menu-wrap .ul-wrap li a .sidebar-title { font-size: 15px; }

.menu-wrap .ul-wrap li a { position: relative; }

.menu-wrap .ul-wrap li a .close i { height: 22px; position: absolute; right: 15px; top: 0; bottom: 0; margin: auto; }

.menu-wrap .ul-wrap li a .close { display: none; }

.menu-wrap .ul-wrap li.active a.open .close, .menu-wrap .ul-wrap li.fixed-item a.open .close { display: block; }

.text-prefooter { margin-top: 35px; }

.reg-popup { float: left; text-align: left; position: relative; top: 7px; text-decoration: underline; }

#tab-rows .product-wrap .product a .product-img .frame-square .crop img { width: 35px; height: 100%; }

#tab-table .product-wrap .product a .product-img .frame-square .crop img { width: 200px; height: 100%; }

@media screen and (max-width: 1200px) { .text-prefooter { padding: 0 20px; } }
