@charset "UTF-8";

.sidebar-icon{
	position:relative;
}
.sidebar-icon i{
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
    display: inline-block;
	
	position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    color: #2288cc;
}
.fa-th{
	font-size: 1.8rem;
}

.sidebar-icon .icon1{
    background: url('../img/icon1.png');
}
.sidebar-icon .icon2{
    background: url('../img/icon2.png');
}
.sidebar-icon .icon3{
    background: url('../img/icon3.png');
}
.sidebar-icon .icon4{
    background: url('../img/icon4.png');
}
.sidebar-icon .icon5{
    background: url('../img/icon5.png');
}
.sidebar-icon .icon6{
    background: url('../img/icon6.png');
}
.sidebar-icon .icon7{
    background: url('../img/icon7.png');
}
.sidebar-icon .icon8{
    background: url('../img/icon8.png');
}
.sidebar-icon .icon9{
    background: url('../img/icon9.png');
}
.sidebar-icon .icon10{
    background: url('../img/icon10.png');
}
.sidebar-icon .icon11{
    background: url('../img/icon11.png');
}
.sidebar-icon .icon12{
    background: url('../img/icon12.png');
}
.sidebar-icon .icon13{
    background: url('../img/icon13.png');
}
.sidebar-icon .icon14{
    background: url('../img/icon14.png');
}
.sidebar-icon .icon15 {
    background: url('../img/icon15.png');
}

.main-personal .nav li.active{
    margin-bottom: 0;
}
.main-personal .nav li i{
    width: 17px;
    height: 19px;
    background-repeat: no-repeat;
    display: inline-block;

    position: relative;
    top: 5px;
    margin-right: 3px;
}
.icon-person1{
    background: url('../img/icon-person5.png');
}
.icon-person2{
    background: url('../img/icon-person4.png');
}
.icon-person3{
    background: url('../img/icon-person3.png');
}
.icon-person4{
    background: url('../img/icon-person2.png');
    width: 20px!important;
    height: 19px!important;
}
.icon-person5{
    background: url('../img/icon-person1.png');
}


.shpunt .section-mn {
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 1140px;
    margin: 0 auto;
    width: auto;
    display: block;
}
.shpunt .section-mn  h6{
    font-size: 20px;
}
.shpunt .section-mn img{
    margin: 0 auto;
    display: block;
}

table.table-format {
    border-collapse: collapse;
    border-width: 0px;
    border-style: outset;
    line-height: 2.0em;
    text-align: center;
    vertical-align: top;width: 100%;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.4);
}
table.table-format thead tr {
}
table.table-format thead tr th {
    color: #FFFFFF;
    background: #255D9E;
    background: -moz-linear-gradient(top,  #255D9E 0%, #367F9E 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#255D9E), color-stop(100%,#367F9E));
    background: -webkit-linear-gradient(top,  #255D9E 0%,#367F9E 100%);
    background: -o-linear-gradient(top,  #255D9E 0%,#367F9E 100%);
    background: -ms-linear-gradient(top,  #255D9E 0%,#367F9E 100%);
    background: linear-gradient(to bottom,  #255D9E 0%,#367F9E 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#255D9E", endColorstr="#367F9E",GradientType=0 );
    font-size: 1.1em;
    letter-spacing: 0;
    line-height: 2.0;
    padding: 4px;
    text-transform: none;
    text-align: center;border-bottom: 1px solid #CCCCCC;border-left: 1px solid #CCCCCC;
}
table.table-format thead tr th.table-format.start {
}
table.table-format thead tr th.table-format.end {
}
table.table-format tbody tr {
    background: none repeat scroll 0 0 #FFFFFF;
}
table.table-format tbody tr.table-alternate {
    background: none repeat scroll 0 0 #FCFCFC;
}
table.table-format tbody tr td {
    color: #000000;
    padding: 5px;
    border-width: 0px;
    line-height: 1.2;
    font-size: 1.0em;
    border-top: medium none;border-bottom: 1px solid #CCCCCC;border-left: 1px solid #CCCCCC;
    text-align: center;
    vertical-align: top;
}
table.table-format tbody tr:hover td {background: none repeat scroll 0 0 #EEEEEE;
}
table.table-format tfoot tr {
}
table.table-format tfoot tr td {
    color: #000000;
    background: #FFFFFF;
    background: -moz-linear-gradient(top,  #FFFFFF 0%, #EEEEEE 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#255D9E), color-stop(100%,#EEEEEE));
    background: -webkit-linear-gradient(top,  #FFFFFF 0%,#EEEEEE 100%);
    background: -o-linear-gradient(top,  #FFFFFF 0%,#EEEEEE 100%);
    background: -ms-linear-gradient(top,  #FFFFFF 0%,#EEEEEE 100%);
    background: linear-gradient(to bottom,  #FFFFFF 0%,#EEEEEE 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#FFFFFF", endColorstr="#EEEEEE",GradientType=0 );
    padding: 4px;
    border-width: 0px;
    font-size: 1.0em;
    border-top: medium none;
    text-align: center;border-left: 1px solid #CCCCCC;
}

/* @media only screen and (max-width: 991px) {
    html header .navbar .container-fluid .navbar-header .btn-login,
    html header .navbar .container-fluid .navbar-header .btn-personal,
    html header .navbar .container-fluid .navbar-header .btn-logout {
        margin-top: 0!important;
        position: relative;
        top: 5px;
    }
} */

@media only screen and (max-width: 991px) and (min-width: 751px) {
    .input-group.search-wrap{
        width: 50%;
    }
}


header .search-wrap .section-ad-wrap select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-color: #2288cc !important;
}

main .filter-wrap .filter-content .cost-wrap input::-webkit-outer-spin-button,
main .filter-wrap .filter-content .cost-wrap input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

main .filter-wrap .filter-content .cost-wrap input::-webkit-outer-spin-button,
main .filter-wrap .filter-content .cost-wrap input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.dialogs .toolbar.messagebar textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
}