main {
  .section {
    .section-content {
      min-height: 300px;
    }
    .tabs-wrap {
      border-top: 1px solid $color-filter-item;
      margin-top:10px;
      padding-top:5px;
      .nav-tabs {
        display: inline-block;
        float: right;
        border: none;
        vertical-align: top;
        li>a{
          text-transform: uppercase;
          font-size: small;
          background: $color-light-grey;
          border: none;
          cursor: pointer;
          color: $color-text-grey;
        }
        li.active>a {
          color: $color-blue;
          @include respond-to(small-screens) {
            background: $color-text-hover-background;
            border-radius: 0;
          }
        }
        li>a:hover :focus :active{
          background: $color-text-hover-background;
          border-radius: 0;
          border: none;
        }
        li>a>i{
          margin-right: 5px;
          @include respond-to(small-screens) {
            margin-right: 0;
          }
        }
        li>a>span{
          @include respond-to(small-screens) {
            display: none;
          }
        }
      }
      #map {
        padding-top: 5px;
        width:100%;
        height: 500px;
        @include respond-to(small-screens) {
          height: 300px;
        }
      }

      #map * {
        overflow:visible;
      }
    }
    .section-content {
      .tabs-wrap {
        select {
          width: auto;
          vertical-align: top;
          display: inline-block;
          padding-top: 5px;
          background: $color-light-grey;
          border-radius: 2px;
        }
      }
    }
  }
}


/*products*/
main {
  #tab-rows {
    .product-wrap {

      .product {
        width: 100%;
        a {
          position: relative;
          .product-img {
            display: inline-block;
            width: $height-table-row-img;
            height: $height-table-row-img;
            margin: 5px;
            @include respond-to(small-screens) {
              width: $height-table-row-img + 20px;
              height: $height-table-row-img + 20px;
            }
          }

          .description {
            display: inline-block;
            height: $height-table-row-img;
            width: calc(100% - 110px);
            @include respond-to(small-screens) {
              height: auto;
              width: calc(100% - 125px);
            }
          }

          .name {
            float: left;
            font-size: 13px;
            height: 100%;
            margin: 0;
            max-width: initial;
            line-height: 19px;
            padding: 0;
            padding-top: 8px;
            vertical-align: middle;
            width: calc(60% - 90px);
            font-weight: bold;
            color: #000;
            @include respond-to(small-screens) {
              height: auto;
              padding-top: inherit;
              width: 100%;
            }
          }

          .address {
            background: none;
            color: #000;
            float: left;
            font-size: 13px;
            font-weight: 300;
            height: 100%;
            margin: 0;
            max-width: initial;
            line-height: 19px;
            padding: 0;
            padding-top: 8px;
            vertical-align: middle;
            width: 40%;
            padding-left: 5px;
            @include respond-to(small-screens) {
              height: auto;
              padding-left: 0;
              padding-top: inherit;
              width: 100%;
            }
          }

          .price {
            float: right;
            margin: 0;
            padding-top: 10px;
            text-align: right;
            vertical-align: middle;
            width: 80px;
            @include respond-to(small-screens) {
              text-align: left;
              padding-top: inherit;
              width: 100%;
            }
          }

          .bucket-wrap {
            bottom: 5px;
            position: absolute;
            right: 5px;
          }
        }
      }
    }
  }

  .product-wrap {
    margin-top: 5px;
    width:100%;

    .row {
      margin:0 -5px;
      padding:0;
    }
    .product {
      display: block;
      margin:0;
      padding:5px;

      a {
        display: block;
        text-align: left;
        text-decoration: none;
        background: #FFF;
        border: 1px solid #E8ECF2;
        width:100%;

        .product-img {
          position: relative;
          border-bottom: 1px solid #E8ECF2;
          background: ivory;
          height:228px;
          width:100%;

          .frame-square {
            background: #fff;
            width: 100%;
            height: 100%;
            margin-right: .5em;
            margin-bottom: .3em;

            .crop {
              height: 100%;
              overflow: hidden;
              position: relative;


              img {
                display: block;
                height: auto;
                /*min-width: 100%;
                min-height: 100%;
                margin: auto;
                position: absolute;
                top: -100%;
                right: -100%;
                bottom: -100%;
                left: -100%;*/
              }
            }
          }
          img {
            height: 200px;
            object-fit: cover;


          }
        }
        .address {
          position: relative;
          margin: -50px 0 0 0;
          padding: 20px 5px 10px 10px;
          font-size: 12px;
          line-height: 18px;
          font-weight: 100;
          color: $color-text-light;
          background: linear-gradient(0deg, rgba(0,0,0, 0.5), rgba(0,0,0, 0.0));
          width: 100%;
          height: 50px;
          border: none;
        }
        .price {
          font-weight: 600;
          font-size: 14px;
          color: $color-blue;
          width: 100%;
          margin: 10px 5px 5px 10px;
        }
        .name {
          font-weight: 300;
          font-size: 12px;
          color: $color-text-dark;
          width: 92%;
          margin: 5px 5px 10px 10px;
        }
        .bucket-wrap {
          position: absolute;
          right: 15px;
          bottom: 15px;
        }
      }
      a:hover {
        box-shadow: 0 0 20px rgba(100,100,100, 0.9);
        transition: all, .5s;
      }

    }
    a.show-more {
      text-transform: uppercase;
      color: $color-blue;
      text-align: center;
      text-decoration: none;
      font-size:medium;
      font-weight:600;
      margin-top: 30px;
    }
    a.show-more:hover {
      color: $color-blue-light;
      text-decoration: none;
      transition: all, .5s;
    }
  }
}

