footer {
  margin-top:50px;
  display: block;
  .footer-container {
    max-width: $width-content;
    @include respond-to(small-screens) { margin: 0 15px; }
    @include respond-to(medium-screens) { margin: 0 15px; }
    @include respond-to(large-screens) { margin: 0 15px; }


    .cities-wrap{
      overflow: hidden;
      a{
        color: $color-text-grey;
        display: inline-block;
        width: 220px;
        margin: 2px 0;
        overflow: hidden;
        white-space: nowrap; /* Отменяем перенос текста */
        overflow: hidden; /* Обрезаем содержимое */
        text-overflow: ellipsis; /* Многоточие */
        @include respond-to(small-screens) {
          max-width: 130px;
        }
        @include respond-to(medium-screens) {
          max-width: 150px;
        }
      }
    }
    a.all-cities {
        margin: 20px 0 28px 0;
        color: $color-blue;
        display: block;
      }
    a.all-cities :hover {
        color: $color-blue-light
      }
  }

  .copyright-container {
    margin: 4px 0 32px 0;
    a{
      display: inline;
      @include respond-to(small-screens) {
        display: block;
        margin: 10px 0;
      }
      @include respond-to(medium-screens) {
        margin: 10px 0;
      }
    }
    a.copyright {
      color: $color-text-grey;
      margin-right: 50px;
      text-decoration: none;
    }
    a.about {
      @extend a.copyright;
      margin-right: 10px;
      color: $color-text-about;
    }
    a.rules {
      @extend a.about;
    }
  }
}