header {
  .navbar {
    .container-fluid {
      padding: 0 5px;
      .navbar-header {
        margin: 0 !important;
        @include respond-to(medium-screens) {
          float: none;
        }
        .navbar-toggle {
          float: left;
          @mixin navbar-toggle-block {
            display: block;
            margin-right: 0;
          }
          @include respond-to(small-screens) {
            @include navbar-toggle-block;
          }
          @include respond-to(medium-screens) {
            @include navbar-toggle-block;
          }
          @include respond-to(large-screens) {
            @include navbar-toggle-block;
            display: none;
          }
          @include respond-to(wide-screens) {
            @include navbar-toggle-block;
            display: none;
          }
        }/*navbar-toogle*/

        .navbar-brand {
          @include respond-to(medium-screens) {
            margin-left: 0;
          }
          @include respond-to(large-screens) {
            margin-left: 0;
          }
          @include respond-to(wide-screens) {
            margin-left: 0;
          }


        }/*navbar-brand*/
        .btn-login, .btn-logout, .btn-personal, .btn-registr {
          background-color: $color-header-btn;
          border-radius: 4px;
          color: $color-text-light;
          float: right;
          font-size: 19px;
          height: 40px;
          margin-left: 1px;
          margin-top: 0;
          min-height:40px;
          min-width: 40px;
          padding: 3px 0;
          position: relative;
          top: 5px;
          text-align: center;

          span {
            top: 7px;
          }

          &, &:active, &:focus{
            text-decoration: none;
            span:last-child {
              text-decoration: underline;
            }
          }

          &:hover {
            text-decoration: none;
            span:last-child {
              text-decoration: none;
            }
          }
        }
      }/*navbar-header*/
    }
  } /*navbar*/

  .search-wrap {
    position: fixed;
    padding: 5px;
    z-index: 1;
    @include respond-to(small-screens) {
      background: $color-light-grey;
      position: fixed;
      top: 50px;
      padding: 5px;
      z-index: 1;
    }
    @mixin search-top {
      position: fixed;
      top: 5px;
      margin-right: 87px;
      margin-left: 270px;
    }
    @include respond-to(medium-screens) {
      @include search-top;
      z-index: 1030;
    }

    .input-group-btn {
      .btn-group {
        display: flex !important;
      }
      .section-select-mobile select {
        padding: 6px;
      }
    }
    .btn {
      border: 1px solid #ccc;
    }
    .btn:hover {
      transition: all, .5s;
    }
    .form-group {
      margin: 10px;
    }
    .dropdown-toggle {
      border-radius: 0;
      height: 34px;
    }
    .btn-search, .btn-plus{
      border-radius: 4px;
      margin-left: -1px;
    }
    .btn-add-ad {
      border-radius: 4px;
      display: block;
      margin: 0 10px;
      width: calc(100% - 20px);
    }
    .btn-add-ad {
      .glyphicon {
        margin-right: 5px;
      }
    }

    .section-ad-wrap {
      display: inline;
      position: relative;
      select {
        appearance: none;
        border-color: $color-blue!important;
      }
      select:hover {
        background-color: $color-light-grey;
      }
    }
  }/*search-wrap*/
}/*header*/

/*header large*/
header {
  @mixin header-large-mixin {
    background: url(../img/panoram.jpg) no-repeat center/cover;
    width: 100%;

    .navbar-fixed-top {
      position: inherit;
    }
    .navbar {
      max-width: $width-content;
      margin: auto;
      border: none;
      background: none;
      .container-fluid {

        span.search-container-header {
          font-size: 28px;
          color: $color-login-text;
        }
        .navbar-header {
          width: 100%;
          padding-bottom:30px;

          .new-message-quantity {
            min-width: 25px;
            height: 25px;
            border-radius: 50%;
            background-color: $color-blue-light;
            right: 0px;
            text-align: center;
            border: 1px solid $color-text-dark;
            box-shadow: 0 0 2px 1px rgba(0,0,0,.3);
            margin-top: -10px;
            span {
              vertical-align: middle;
              line-height: 1.7;
            }
            padding-left: 5px;
            padding-right: 7px;
            margin-right: 3px;
            color: #f9f9f9;
            position: relative;
            font-size: 18px;
            top: -10px;
          }

          .navbar-brand {
            img.logo-large {
              height: $height-logo-img-lg;
            }
            //margin-top:14px;
            //padding: 15px 0;
            margin-top:7px;
            padding: 0;
          }
          .btn-login, .btn-logout, .btn-personal, .btn-registr {
            display: inline-block;
            border: none;
            padding: 0 15px;
            margin-right: 15px;
            float: right;
            margin-top: 34px;
            font-size: 19px;
            color: #ffffff;
            background-color: transparent;

            span {
              top: 2px;
              right: 2px;
              &:last-child[class*='visible-'] {
                display: inline-block!important;
              }
            }
          }

          .btn-personal {
            width: 160px;
            margin-right: 20px;
            padding-left:15px;
          }
        }
        .navbar-header-slim {
          padding-bottom: 0;
          height: 40px;
        }
      }
    }
    .search-wrap{
      position: relative;
      display: block;
      margin: 0 auto;
      top:0;
      max-width: $width-content;
      padding: 12px 5px 70px 5px;
      margin-top: 10px;

      .input-search{
        display: inline;
        position: inherit;
        //font-weight: 300;
        font-weight: 400;
        color: $color-text-body;
        min-height: $height-controls;
        font-size: large;
        border: 5px solid $color-blue;
        border-width: 5px 0 5px 5px;
        border-radius: 0;
        width: calc(100% - 130px - #{$width-select-lg} - #{$width-select-lg} - #{$width-search-button-lg} - #{$width-search-button-lg});
        box-sizing: border-box;
      }

      select {
        //font-weight: 300;
        font-weight: 400;
        max-width: $width-select-lg;
        min-height: $height-controls;
        height: $height-controls;
        border: 5px solid $color-blue;
        border-width: 5px 0;
        box-sizing: border-box;
        font-size: large;
        color: $color-text-grey;
        cursor: pointer;
        padding: 6px;
      }

      .section-ad-wrap + .section-ad-wrap {
        select {
          border-width: 5px 5px 5px 0;
        }
      }

      .input-group-btn {
        display: inline;

        .btn-group {
          display: block;
          .btn {
            display: block;
          }

          .form-group {
            display: block;
          }
          .dropdown-toggle {
          }
          .btn-search, .btn-plus{
            margin-left: 20px;
            min-height: $height-controls !important;
            font-size: large;
            width: $width-search-button-lg;
            border: none;
          }
          .btn-add-ad {
            margin: 0 0 0 20px;
            min-height: $height-controls !important;
            font-size: large;
            width: $width-add-ad-lg;
            border: none;
          }
          .btn-add-ad {
            .glyphicon {
            }
          }
        }
      }
      .example-text-wrap {
        margin: 2px 0;
        display: block;
        span {
          color: $color-text-light;
          font-size: 12px;
        }
      }
    }
    .search-wrap-slim {
      padding: 5px 5px 20px 5px;
    }
  }
  @include respond-to(large-screens) {
    @include header-large-mixin;

  }
  @include respond-to(wide-screens) {
    @include header-large-mixin;
  }
}

.worker-wrap {
  position: absolute;
  left: -205px;
  transform: rotate(25deg);
  @include respond-to(small-screens) {
    display: none;
  }
  @include respond-to(medium-screens) {
    display: none;
  }
  @include respond-to(large-screens) {
    display: none;
  }
}

.navbar-default .navbar-brand {
  padding: 7px 15px;
  .logo-mobile {
    height: 36px;
  }
}