header .input-group  .btn{
  border-radius: 4px!important;
}
header .input-group-btn .btn{
  background: #2288cc;
  height: 34px!important;/*было 46*/
  min-height: 34px!important;
  margin-top: 0!important;
  margin-bottom: 2px;
}
.menu-wrap .ul-wrap li a .sidebar-title{
  font-size: 15px;
}
.menu-wrap .ul-wrap li a {
  position: relative;
}
.menu-wrap .ul-wrap li a .close i {
  height: 22px;
  position: absolute;
  right: 15px;
  top: 0;
  bottom: 0;
  margin: auto;
}
.menu-wrap .ul-wrap li a .close{
  display: none;
}
.menu-wrap .ul-wrap li.active a.open .close,
.menu-wrap .ul-wrap li.fixed-item a.open .close{
  display: block;
}


.text-prefooter{
  margin-top: 35px;
}
.reg-popup{
  float: left;
  text-align: left;
  position: relative;
  top: 7px;
  text-decoration: underline;
}
#tab-rows .product-wrap .product a .product-img .frame-square .crop img{
  width: 35px;
  height: 100%;
}
#tab-table .product-wrap .product a .product-img .frame-square .crop img{
  width: 200px;
  height: 100%;
}
@media screen and (max-width: 1200px){
  .text-prefooter{
    padding: 0 20px;
  }
}