body {
  background: $color-light-grey;
  color: $color-text-body;
  font: $font-body;
  font-family: 'Roboto';
  @include respond-to(medium-screens) {
    padding: 5px;
  }
  overflow-x: hidden;
}
i {
  margin-right: 7px;
}
ul {
  padding: 0;
}
.offset-right-0 {
  padding-right: 0;
}
.text-nowrap {
  white-space: nowrap; /* Отменяем перенос текста */
  overflow: hidden; /* Обрезаем содержимое */
  text-overflow: ellipsis; /* Многоточие */
}

.col-centered{
  float: none;
  margin: 0 auto;
}
.offset-0 {
  padding-left: 0;
  padding-right: 0;
}
::-webkit-input-placeholder {color:$color-text-grey;}
::-moz-placeholder          {color:$color-text-grey;}/* Firefox 19+ */
:-moz-placeholder           {color:$color-text-grey;}/* Firefox 18- */
:-ms-input-placeholder      {color:$color-text-grey;}

main {
  margin-top:100px;
  @include respond-to(medium-screens) {
    margin-top:50px;
  }
  @include respond-to(large-screens) {
    margin-top:20px;
  }
  @include respond-to(wide-screens) {
    margin-top:20px;
  }
  .main-content {
    max-width: $width-content;
    margin: 0 auto;
  }
  .sidebar {
    margin: 0;
    width: 290px;
    min-height: 600px;
    display: inline-block;
    vertical-align: top;
    padding-top: 5px;
    padding-left: 5px;
    overflow-x: hidden;
    @include respond-to(small-screens) {
      position: fixed;
      left: 0;
      top: 50px;
      background: $color-light-grey;
      z-index: 1;
      overflow-y: scroll;
      display: none;
  //    min-height: 100%;
      max-height: 100%;
      padding-bottom:50px;
      box-shadow: 20px 23px 100px -24px #000;
    }
    @include respond-to(medium-screens) {
      position: fixed;
      left: 0;
      top: 50px;
      background: $color-light-grey;
      z-index: 1;
      max-height: 100%;
      overflow-y: scroll;
      display: none;
      box-shadow: 20px 23px 100px -24px #000;
    }
    @include respond-to(large-screens) {
      display: inline-block;
    }
    @include respond-to(widescreens) {
      display: inline-block;
    }
  }
  .section {
    padding: 5px;
    margin: 0;
    width: 100%;
    min-height: 600px;
    display: inline-block;
    vertical-align: top;
    @include respond-to(small-screens) {
      width: 100%;
    }
    @include respond-to(medium-screens) {
      width: 100%;
    }
    @include respond-to(large-screens) {
      width: calc(100% - 290px - 5px);
    }
    @include respond-to(wide-screens) {
      width: calc(100% - 290px - 5px);
    }
  }
}

main {
  .overlay {
    background: rgba(0,0,0,.7);
    z-index: 1030;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    transition: visibility .15s ease,opacity .2s ease;
    overflow:hidden;
  }
  .filter-wrap {
    position: fixed;
    display: none;
    top: 0;
    width: auto;
    height: 100%;
    overflow-y: scroll;
    right: 0;
    background: #fff;
    z-index: 1030;
  //  overflow: hidden;
    @include respond-to(small-screens) {
      width: 100%;
    }
    p {
      font-weight:bold;
      color: $color-text-body;
      margin-top: 30px;
      @include respond-to(small-screens) {
        margin-top: 20px;
      }
    }
    .magic-checkbox+label, .magic-radio+label {
      font-weight:100;
      margin-bottom:10px;
    }
    .filter-header{
      padding: 19px 10px 23px 44px ;
      width: 100%;
      border-bottom: 1px solid $color-filter-item;
      @include respond-to(small-screens) {
        padding: 10px;
      }
      span {
        margin: 0;
        font-size: 24px;
        line-height: 30px;
        color: #393939;
      }
      .button-close {
        background: none;
        border: none;
        font-weight:lighter;
        font-size:24px;
        float: right;
        text-decoration: none;
        outline: none !important;
      }
    }
    .filter-content {
      padding: 19px 44px 23px;
      @include respond-to(small-screens) {
        padding: 10px;
      }
      .cost-wrap {
        p {
          @include respond-to(small-screens) {
            margin-top: 5px;
          }
        }
        input {
          background: $color-filter-item;
          border: none;
          font-size: 20px;
          text-decoration: none;
          outline: none !important;
          margin: 0 5px;
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          /* display: none; <- Crashes Chrome on hover */
          -webkit-appearance: none;
          margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
        }
      }
      .city-wrap {
        select {
          @include respond-to(small-screens) {
            max-width: 300px;
          }
        }
      }
    }
  }
  .filter-controls {
    padding: 19px 44px 23px;
    width: 100%;
    margin: 0 auto;
    @include respond-to(small-screens) {
      padding: 10px;
    }
    .btn {
      width: 49%;
      display: inline;
      margin:0;
      border: none;
      border-radius: 0;
      text-transform: uppercase;
    }
  }
}

#message_center {
  position: fixed;
  top: 10px;
  width: 40%;
  z-index: 2005;
  margin-left:30%;
  @include respond-to(small-screens) {
    width: 80%;
    margin-left:10%;
  }
  .alert {
    border-radius: 0;
  }
}