ol, ul { list-style: none; padding-left: 0;}

.menu-wrap {
  display: block;
  width: 100%;
  top: 0;
  font-size: 14px;
  margin: -10px 0 0 0;
  padding: 0;

  .ul-wrap {
    display: inline-block;
    width: 280px;
    font-family: Roboto;
    font-weight: 300;
    font-size: 14px;
    li {
        text-indent: 0;
        line-height: 45px;
        list-style: none;
      a {
        color: $color-text-body;
        display: block;
        padding: 3px 5px;
        text-decoration: none;
        cursor: pointer;
        .sidebar-icon {
            width: 45px;
            height: 45px;
            font-size: 14px;
            padding: 0 2px;
            display: block;
            text-indent: 7px;
            color: $color-text-body;
            float: left;
            vertical-align: top;
          }
          .sidebar-title {
            position: relative;
            width: 150px;
            top: -1px;
            display: inline-block;
            line-height: 13px;
            vertical-align: middle;
            color: #125487;
          }
          .sidebar-count {
            float: right;
            margin-right: 10px;
          }
          .caret {
            right: 23px;
            top: auto;
            display: inline-block;
            margin:0;
          }
        span>i {
          margin-right:10px;
        }
      }
      a:hover{
        background-color: $color-text-hover-background;
        transition: all, .2s;
      }
      a:hover, .ul-wrap > li > a.open,.fixed {
        background-color: $color-text-hover-background;
        transition: all, .2s;
      }

      ul {
        display: none;
        li a {
          display: block;
          background: none;
          text-decoration: none;
          //color: $color-text-body;
          color: #125487;
          font-weight:100;
          padding: 15px 5px 15px 70px;
          line-height: 15px;
          text-shadow: 1px 1px 0 $color-text-light;
          cursor: pointer;
        }
        ul {
          display: none;
          margin-left: 50px;
          li a {
            display: block;
            background: none;
            text-decoration: none;
            color:$color-text-body;
            font-weight:100;
            padding: 15px 5px 15px 70px;
            line-height: 15px;
            text-shadow: 1px 1px 0 $color-text-light;
            cursor: pointer;
          }
        }
      }
    }
    li.active {
      background-color: $color-text-hover-background;
    }
  }
}

.fixed-item {
  ul {
    display: block !important;
    height: auto !important;
  }
}