main.main-personal{
  //.contacts {
    .navbar {
      background: #2288CC;
      color: #fff;
      margin-bottom: 0;
      border-radius: 4px;
      @media screen and (max-width: $medium) {
        margin-bottom: 2px;
        //cursor: pointer;
      }
      .navbar-inner {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        overflow: hidden;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: -moz-box;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        align-items: center;
        .center {
          margin: 0 auto;
        }
      }
    }
    @media screen and (max-width: $medium) {
      .contacts-content.active {
        display: block;
      }
    }
    .contacts-content {
    //  height: 350px;
      height: auto;
      overflow: auto;
      margin-bottom: 15px;
      @media screen and (max-width: $medium) {
        display: none;
      }
      .contact.active {
        background-color: #67A3CA;
        color: #fff;
        border: 2px solid #00415d;
        border-radius: 5px;
      }
      .contact.active:hover {
        background-color: #04B6E0;
        color: #fff;
      }
      .contact.new-message {
        background-color: #87C0E8;
        color: #fff;
      }
      .contact.new-message:hover {
        background-color: #04B6E0;
        color: #fff;
      }
      .contact:hover {
        background-color: #E1E5EB;
      }
      .new-message-quantity {
        min-width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: $color-blue-light;
        color: $color-light-grey;
        position: absolute;
        top: 45%;
        right: 100px;
        text-align: center;
        border: 1px solid $color-text-dark;
        box-shadow: 0 0 2px 1px rgba(0,0,0,.3);
        margin-top: -10px;
        span {
          vertical-align: middle;
          line-height: 1.7;
        }
      }
      .contact {
        position: relative;
        cursor: pointer;
        .contact-image, .contact-initials {
          width: 60px;
          height: 60px;
          display: inline-block;
          margin: 5px;
          img {
            height: 100%;
            width: 100%;
            border-radius: 50%;
          }
        }
        .contact-initials {
          display: inline-block;
          margin: 5px;
          position: relative;
          width: 60px;
          height: 60px;
          div {
            color: black;
            font-size: 30px;
            text-align: center;
            padding-top: 12px;
            height: 100%;
            width: 100%;
            border-radius: 34px;
            background: $color-light-grey;
          }
        }

        .contact-info {
          display: inline-block;
          vertical-align: top;
          margin-top: 16px;
          .contact-name {
            font-size: 16px;
          }
          span {
            display: block;
          }
        }
        .contact-delete {
          position: absolute;
          right: 48px;
          bottom: 25%;
          span {
            top: 2px;
          }
        }
        .contact-goto {
          position: absolute;
          right: 15px;
          bottom: 25%;
          color: $color-text-dark;
          .contact-goto-right {
            background: none;
            border: none;
            top: 2px;
            font-size: 25px;
            &:hover {
              color: $color-blue;
            }
          }
        }
      }
    }
  //}
  .dialogs .contact-initials {
    width: 48px;
    height: 48px;
    div {
      color: white;
      font-size: 20px;
      text-align: center;
      padding-top: 12px;
      height: 100%;
      width: 100%;
      border-radius: 34px;
      background: $color-blue;
    }
  }
  .main-content.personal-data-content {
    padding: 0;
    .sidebar {
      min-height: 200px;
    }
    .tab-content-profile {
      margin: 40px 0;
    }
    .person {
      margin-bottom: 50px;
      .person-content {
        .personal-photo, .personal-initials {
          padding: 0;
          display: inline-block;
          width: 120px;
          height: 120px;
          background-color: grey;
          vertical-align: top;
          margin-right: 20px;
          margin-bottom:20px;

          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }
        .personal-initials {
          color: white;
          font-size: 62px;
          text-align: center;
          border-radius: 60px;
          span {
            display: block;
            margin-top: 20px;
          }
        }
        .personal-info {
        //  margin-left: 10px;
          display: inline-block;
          vertical-align: top;
          .personal-name {
            font-size: 30px;
            font-family: inherit;
            font-weight: 500;
            line-height: 1.1;
            color: inherit;
            margin-top: 0;
            display: block;
            @media screen and (max-width: 400px) {
              font-size: 20px;
            }
          }
          .personal-phone,
          .personal-mail {
            display: block;
          }
          span {
            margin-top: 5px;
          }
          .change-info-href {
            margin-top: 5px;
            display: block;
          }
        }
      }
    }
  }
  .main-content {
    .posters-header {
      text-align: center;
      margin-bottom: 20px;
      @media screen and (max-width: $medium) {
        font-size: 14px;
        background-color: #2288CC;
        color: #fff;
        font-weight: 400;
        margin: 0;
        padding-bottom: 17px;
        padding-top: 17px;
        border-radius: 4px;
        margin-bottom: 2px;
        cursor: pointer;
      }
    }
    @media screen and (max-width: $medium) {
      .posters.active {
        display: block;
      }
    }
    .posters {
      max-height: 640px;
      overflow: auto;
      @media screen and (max-width: $medium) {
      //  display: none;
      }
    }
    .poster.active {
      border: solid 2px #2288CC;
      box-shadow: 0 0 4px 1px #2288CC;
    }
    .poster {
      padding: 10px;
      border: solid 2px #D1D9E0;
      border-radius: 6px;
      margin-top: 4px;
      margin-bottom: 4px;
      cursor: pointer;
      padding: 10px;
      .row {
        margin:0;
        padding:0;
      }
      .poster-info {
        .poster-name {
          display: block;
          font-size: 16px;
          font-weight: 600;
          text-overflow: ellipsis;
          white-space: nowrap;
          max-width: 300px;
          overflow: hidden;
        }
        .poster-about {
          text-overflow: ellipsis;
          max-height: 85px;
          display: block;
          overflow: hidden;
          margin: 5px 0;
        }
        .poster-price {
          color: #2288CC;
          font-weight: 600;
        }
      }
      .poster-image-wrap {
        padding: 0;
      }
      .poster-image {
        width: 140px;
        height: 140px;
        @media screen and (max-width: 400px) {
          width: 70px;
          height: 70px;
        }
        img {
          width: 100%;
          height: 100%;
        }
      }
      .poster-config {
        padding-left: 20px;
        .poster-link-button {
          word-break: break-all;
          word-wrap: break-word;
          .new-message-quantity {
            min-width: 25px;
            height: 25px;
            border-radius: 50%;
            background-color: $color-blue-light;
            right: 0px;
            text-align: center;
            border: 1px solid $color-text-dark;
            box-shadow: 0 0 2px 1px rgba(0,0,0,.3);
            margin-top: -10px;
            span {
              vertical-align: middle;
              line-height: 1.7;
            }
            padding-left: 5px;
            padding-right: 7px;
            margin-right: 3px;
            color: #f9f9f9;
            position: relative;
          }
        }
        ul {
          overflow:auto;
        }
        li {
          margin-bottom: 5px;
          text-align:right;
          @media screen and (max-width: $medium) {
            margin-bottom: 5px;
          }
          .btn{
            i {
              margin-right:0;
            }
            @include respond-to(small-screens) {
              padding: 5px 8px;
            }
          }
        }
        li:last-child {
          margin-bottom: 0;
        }
        a {
          text-decoration: none;
          i, span {
            color: #707070;
          }
        }
        a:hover {
          border-bottom: solid 1px #707070;
        }
      }
    }
  }
}

//framework7
.dialogs {
  @media screen and (max-width: $medium) {
    .messages-content.active {
      display: block;
    }
  }
  .messages-content {
    //max-height: 350px;
    height: auto;
    overflow-x: auto;
    @media screen and (max-width: $medium) {
      display: none;
    }
  }
  .view {
    .navbar {
      background: #2288CC;
      color: #fff;
      margin-bottom: 0;
      @media screen and (max-width: $medium) {
      //  cursor: pointer;
      }
    }
  }
  .messages-date {
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1;
    margin: 10px 15px;
  }
  .message-sent {
    -ms-flex-item-align: end;
    -webkit-align-self: flex-end;
    align-self: flex-end;
    -webkit-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    .message-text {
      background-color: #C8E6C9;
      margin-left: auto;
      border-radius: 2px 2px 0 2px;
      margin-right: 8px;
    }
  }
  .message-received {
    -ms-flex-item-align: start;
    -webkit-align-self: flex-start;
    align-self: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    .message-text {
      background-color: #fff;
      border-radius: 2px 2px 2px 0;
      margin-left: 60px;
    }
  }
  .message-avatar {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    margin-top: -48px;
    position: relative;
    top: 1px;
    background-size: cover;
    opacity: 1;
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
  }
  .message-date, .message-label, .message-name, .messages-date {
    color: rgba(0,0,0,.51);
  }
  .message-label {
    font-size: 12px;
    line-height: 1;
    margin-top: 4px;
  }
  .message-sent .message-label, .message-sent .message-name {
    margin-right: 8px;
  }
  .message-received.message-with-avatar .message-label, .message-received.message-with-avatar .message-name, .message-received.message-with-avatar .message-text {
    margin-left: 56px;
  }
  .message {
    box-sizing: border-box;
    margin: 0 8px 8px 8px;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .message-received.message-with-avatar .message-label, .message-received.message-with-avatar .message-name, .message-received.message-with-avatar .message-text {
    margin-left: 56px;
  }
  .message-name {
    font-size: 12px;
    line-height: 1;
    margin-bottom: 2px;
    margin-top: 7px;
  }
  .message-appear-from-bottom {
    -webkit-animation: messageAppearFromBottom .4s;
    animation: messageAppearFromBottom .4s;
  }
  .message-sent .message-text:before {
    position: absolute;
    content: '';
    border-left: 0 solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #C8E6C9;
    left: 100%;
    bottom: 0;
    width: 0;
    height: 0;
  }
  .message-received .message-text:before {
    position: absolute;
    content: '';
    border-left: 8px solid transparent;
    border-right: 0 solid transparent;
    border-bottom: 8px solid #fff;
    right: 100%;
    bottom: 0;
    width: 0;
    height: 0;
  }
  .navbar-inner, .toolbar-inner {
  //  position: absolute;
    left: 0;
    top: 3px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    //display: -webkit-box;
    //display: -ms-flexbox;
    //display: -webkit-flex;
    //display: flex;
    //-webkit-box-align: center;
    //-ms-flex-align: center;
    //-webkit-align-items: center;
    //align-items: center;
    display: block;
    .left {
      margin-left: 2px;
      margin-top: 1px;
      .navbar-back {
        font-size: 25px;
        color: $color-light-grey;
        cursor: pointer;
      }
    }
  }
  .toolbar.messagebar textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    background: 0 0;
    //border-radius: 0;
    box-shadow: none;
    display: block;
    padding: 3px 8px 3px;
    //margin: 0;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
   // height: 28px;
    color: #333;
    font-size: 16px;
    line-height: 22px;
    font-family: inherit;
    //resize: none;
    //-webkit-box-flex: 1;
    //-webkit-flex-shrink: 1;
    //-ms-flex: 0 1 auto;
    //flex-shrink: 1;
    height: 140px;
    min-height: 80px;
    border: 1px solid #CCCCCC;
    margin: 10px 0;
  }
  @media screen and (max-width: $medium) {
    .toolbar.messagebar.active {
      display: block;
    }
  }
  .toolbar.messagebar {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    background: #fff;
  //  height: 48px;
    top: auto;
    bottom: 0;
    font-size: 16px;
    overflow: hidden;
    @media screen and (max-width: $medium) {
      display: none;
    }
  }
  .message-text {
    box-sizing: border-box;
    border-radius: 2px;
    padding: 6px 8px;
    min-width: 48px;
    font-size: 16px;
    line-height: 1.2;
    word-break: break-word;
    color: #333;
    min-height: 48px;
    position: relative;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    img {
      max-height: 300px;
      max-width: 300px;
    }
  }
  a, input, select, textarea {
    outline: 0;
  }
  .toolbar.messagebar .link {
    color: #fff;
    //-ms-flex-item-align: flex-start;
    //-webkit-align-self: flex-start;
    //align-self: flex-end;
    height: 48px;
    line-height: 48px;
    float: right;
  }
  .toolbar.messagebar .link {
    //-webkit-box-flex: 0;
    //-webkit-flex-shrink: 0;
    //-ms-flex: 0 0 auto;
    //flex-shrink: 0;
  }
  .toolbar .link {
    line-height: 48px;
    height: 48px;
    background-color: #2288CC;
  }
  .navbar .link, .subnavbar .link, .toolbar .link {
    text-decoration: none;
    position: relative;
    color: #fff;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 0 16px;
    min-width: 48px;
  }
  .actions-modal-button, .button, .floating-button>a, .label-checkbox, .label-radio, .modal-button, .ripple, .speed-dial-buttons a, .tab-link, a.floating-button, a.item-link, a.link {
    -webkit-user-select: none;
    user-select: none;
  }
  .toolbar a {
    -webkit-box-flex: 1;
    -webkit-flex-shrink: 1;
    -ms-flex: 0 1 auto;
    flex-shrink: 1;
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .center {
    margin: 0 auto;
  }
}

.modal-dialog {
  .modal-body {
    input {
      margin-bottom: 10px;
    }
  }
}

.phoneCallWrap {
  width: 200px;
  margin: 0 auto 20px auto;
  @include respond-to(small-screens) {width: 100%;}
  .phoneCall {
    display: block;
    background-color: #F44;
    font-size: 16px;
    color: #fff;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    &:hover,focus {
      text-decoration: none;
      background-color: #f66;
    }
  }
}

#loginModal {
  .modal-content {
    padding: 5px 10px;
  }
  label.checkbox {
    margin-left:20px;
  }
}

.infoText {
  margin-bottom:20px;
}

.soproma-checked {
  p {
    font-size: 16px;
    font-weight:bold;
    &.checked {
      color: #0a0;
    }

    &.no-checked {
      color: darkorange;
    }
  }
}